{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>

<div id="checkout-cart" class="container">
	<div class="row mtb-50">
		<div class="col-md-9 col-sm-12 col-12">
			{% if attention or success or error_warning %}
				<div class="container">
					{% if attention %}
					<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					{% endif %}
					{% if success %}
					<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> 	{{ success }}
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					{% endif %}
					{% if error_warning %}
					<div class="alert alert-danger alert-dismissible">
						<i class="fa fa-exclamation-circle"></i> {{ error_warning }}
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					{% endif %}
				</div>
			{% endif %}
			<div id="content" class="{{ class }}">
				<h2 class="cart-main-title ptb-20">
					{{ heading_title }}
					{# {% if weight %} &nbsp;({{ weight }}){% endif %} #}
				</h2>
				<form action="{{ action }}" method="post" enctype="multipart/form-data" class="cart-page">
					<div class="table-responsive">
						<table class="table ">
							<thead style="">
								<tr style="">
									<th class="text-center">{{ column_image }}</th>
									<th class="text-left">{{ column_name }}</th>
									<!--<th class="text-left">{{ column_model }}</th>-->
									<th class="text-left">{{ column_quantity }}</th>
									<th class="text-right">{{ column_price }}</th>
									<!--<th class="text-right">{{ column_total }}</th>-->
									<th class="text-right">Remove</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
								<tr class="cart-table">
									<td class="text-center cart-img">
										{% if product.thumb %}
										<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" />
											{% if product.sku %}
												<br>
												<p class="font-12">{{ text_sku }} :{{ product.sku }}</p>
											{% endif %}
										</a>									  
										{% endif %}
									</td>
									<td class="text-left">
										<a href="{{ product.href }}" class="table-title"><strong>{{ product.name }}</strong></a>
										{% if not product.stock %} <span class="text-danger">***</span> {% endif %}
										{% if product.dealer_product %} &nbsp;&nbsp;<span class="text-danger">(D)</span> {% endif %}
										{% if product.option %}
										{% for option in product.option %} <br />
										<small class="cart-t-small">{{ option.name }}: {{ option.value }}</small> {% endfor %}
										{% endif %}
										{% if product.reward %} <br />
										<small class="cart-t-small">{{ product.reward }}</small> {% endif %}
										{% if product.recurring %} <br />
										<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}
									</td>
									<!--<td class="text-left cart-t-small"> SKU {{ product.model }}</td>-->
									<td class="text-left">
										<div class="input-group btn-block" style="max-width: 200px;">
											<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
											<span class="input-group-btn">
												<button type="submit" data-toggle="" title="{{ button_update }}" class="btn btn-primary btn-update"><i class="fa fa-refresh"></i></button>
											</span>
										</div>
									</td>
									<td class="text-right">{{ product.price }}</td>
									<!--<td class="text-right">{{ product.total }}</td>-->
									<td class="text-right">
										<button type="button" data-toggle="" title="{{ button_remove }}" class="btn btn-danger btn-remove" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
									</td>
								</tr>
								{% endfor %}
								{% for voucher in vouchers %}
								<!--<tr>
									<td></td>
									<td class="text-left">{{ voucher.description }}</td>
									<td class="text-left"></td>
									<td class="text-left">
										<div class="input-group btn-block" style="max-width: 200px;">
											<input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
											<span class="input-group-btn">
												<button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
											</span>
										</div>
									</td>
									<td class="text-right">{{ voucher.amount }}</td>
									<td class="text-right">{{ voucher.amount }}</td>
								</tr>-->
								{% endfor %}
							</tbody>
						</table>
					</div>
				</form>
			</div>
			<p class="text-left">Note: Product mark with <strong class="text-danger">(D)</strong> represent dealer only product</p>
		</div>
		<div class="col-md-3 col-sm-12 pt-125">
			<div class="cart-total pb-20">
				<div class=" pb-20">
					<h3 class="m-0 p-0">{{ text_order_summary }}</h3>
					<!--<p>2 Items In Your cart Left</p>-->
					<div class="table-reponsive">
						<table class="table">
							{% for total in totals %}
							<tr>
								<td>{{ total.title }}:	</td>								
								<td>{{ total.text }} &nbsp; {% if total.remove %} <a href="{{ total.remove }}"><i class="fa fa-minus-circle text-danger" title="Remove"></i></a> {% endif %}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					{% if modules %}
					<!-- <h2 class="cart-sub-title">{{ text_next }}</h2>
					<p class="cart-text">{{ text_next_choice }}</p>-->
					<div class="panel-group acoordin-box " id="accordion" > 
						{% for module in modules %}
						{{ module }}
						{% endfor %} 
					</div>						
					{% endif %}
					<div class="text-center">  
						<div class="text-center">
							<a href="{{ continue }}" class="btn btn-default col-blue">{{ button_shopping }}</a>
						</div>
						<div class="text-center">
							<a href="{{ checkout }}" class="btn check-out-btn">{{ button_checkout }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<!-- <div class="buttons clearfix ptb-20">
			<div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
			<div class="pull-right "><a href="{{ checkout }}" class="btn add-to-cart">{{ button_checkout }}</a></div>
			</div>-->
			{{ content_bottom }}
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }} 