{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section> 
<!-------start-------->
<section class="ptb-20">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
                <h2 class="mb-20"><span class="red">{{ heading_title }}</span></h2>
			</div>
		</div>
		<hr />
		{% if children_data and children_data is not null %}
		<div class="row">		
			<div class="col-xl-12 ccol-md-12 col-xs-12">
				<div class="customer-logos latest_products">
					{% for child_image in children_data %}
					<div class="slide">
						<a href="{{ child_image.href }}">
							<img src="{{ child_image.image }}" alt="{{ child_image.name }}" title="{{ child_image.name }}">
                            <div class="overlay-text">
                                <div class="slide-text">
									<h4>{{ child_image.name }}</h4>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<hr />
		{% endif %}
		<div class="row">
			{{ column_left }}
			<!---->
			{% if products %}
			<div class="col-sm-9">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 my-3">
							<!---->
							<div class="well well-sm mb-30">
								<div class="btn-group arrow_carrot-2right">
									<a href="#" id="list" class="btn btn-default btn-sm"><i class="fa fa-list-ul" aria-hidden="true"></i></a> 
									<a href="#" id="grid" class="btn btn-default btn-sm "><i class="fa fa-th" aria-hidden="true"></i></a>
									<span class="text-small">{{ results }}</span>
								</div>
								<span class="text-grid-filter" style="float: right">
									<label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
									<select id="input-limit" class="st-select" onchange="location = this.value;">
										{% for limits in limits %}
											{% if limits.value == limit %}
												<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
											{% else %}
												<option value="{{ limits.href }}">{{ limits.text }}</option>
											{% endif %}
										{% endfor %}
									</select>
									<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
									<select id="input-sort" class="st-select" onchange="location = this.value;">
										{% for sorts in sorts %}
											{% if sorts.value == '%s-%s'|format(sort, order) %}
												<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
											{% else %}
												<option value="{{ sorts.href }}">{{ sorts.text }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</span>
							</div>
						</div>
					</div> 
					<span class="cart-msg"></span>
					<div id="products" class="row view-group">
						{% for product in products %}
						<div class="item col-xs-4 col-lg-4">
							<div class="thumbnail card">
								<div class="img-event center">
									<a href="{{ product.href }}"> <img class="group list-group-image center" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
								</div>
								<div class="caption card-body">
									{% if product.rating %}
									<div class="rel-rating">
										<p>
											{% for i in 1..5 %}
												{% if product.rating < i %}
													<span class="fa fa-star"></span>
												{% else %}
													<span class="fa fa-star checked"></span>
												{% endif %}
											{% endfor %}
											<!--<span class="rel-review"> No Review </span>-->
										</p>
									</div>
									{% endif %}
									<hr>
									<a href="{{ product.href }}" title="{{product.name}}"><h4 class="group word-limit card-title inner list-group-item-heading">
									{{ product.name }}</h4></a> <hr>
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<p class="product-price">
											{{ product.price }} </p>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<button class="btn btn-product-to-add" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" >{{ button_cart }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div> 
					<div class="row">
						<div class="col-sm-6 text-left">{{ pagination }}</div>
						<div class="col-sm-6 text-right">{{ results }}</div>
					</div>
				</div>
			</div>
            {% else %}
			<div class="col-sm-9">
                <h2 class="text-center not-found">{{ text_empty }}</h2>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{{ content_bottom }}
{{ footer }} 
<script type="text/javascript">
$(document).ready(function(){
	$('#grid').addClass('selected');
	$('#list').removeClass('selected');
});
$('#list').click(function(event){
	event.preventDefault();
	$('#products .item').addClass('list-group-item');
	$('#list').addClass('selected');
	$('#grid').removeClass('selected');
});
$('#grid').click(function(event){
	event.preventDefault();
	$('#products .item').removeClass('list-group-item');
	$('#products .item').addClass('grid-group-item');
	$('#grid').addClass('selected');
	$('#list').removeClass('selected');
});

$(document).ready(function(){
	$('.latest_products').slick({
		slidesToShow: 4,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 1000,
		arrows: false,
		dots: false,
		pauseOnHover: false,
		responsive: [{
			breakpoint: 768,
			settings: {
				slidesToShow: 2
			}
		}, 
		{
			breakpoint: 520,
			settings: {
				slidesToShow: 1
			}
		}]
	});
});
</script>