{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section> 
   
<!-- product Aopop Design -->
<section class="AOPO-sec">
	<div class="container">
		<span class="cart-msg"></span>
		<div class="">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-5">
						{% if thumb or images %}
							<div class="preview-pic tab-content">
								{% set ip = 1 %}
								{% for image in images %}
								<div class="tab-pane {% if ip == 1 %}active{% endif %}" id="pic-{{ ip }}">
									<img src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
								</div>
								{% set ip = ip + 1 %}
								{% endfor %}
							</div>
							{% if images %}
							<ul class="preview-thumbnail nav nav-tabs">
								{% set it = 1 %}
								{% for image in images %}
								<li class="{% if it == 1 %}active{% endif %}">
									<a data-target="#pic-{{ it }}" data-toggle="tab">
										<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
									</a>
								</li>
								{% set it = it + 1 %}
								{% endfor %}
							</ul>
							{% endif %}
						{% endif %}
					</div>
					<div class="details col-md-7">
						<div id="product">
							<h3 class="product-title">{{ heading_title }}</h3>
							<div class="rating">
								<div class="stars">
									<p>
										{% for i in 1..5 %}
										{% if rating < i %}
										<span class="fa fa-star"></span>
										{% else %}
										<span class="fa fa-star checked"></span>
										{% endif %}
										{% endfor %} 
										<span class="review-no"> 
											<a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> 
										</span>
									</p>
								</div>
							</div>
			
							<div class="prodct-price-sec">
								{% if price %}
								<h3 class="product-price"> 
									{% if not special %}
										{{ price }} 
									{% else %}
										<span style="text-decoration: line-through;">{{ price }}</span> {{ special }}
									{% endif %}
								</h3>
								{% endif %}
								{% if manufacturer %}
								<p class="product-brand"><span>{{ text_manufacturer }} :</span> <span class="text-col">{{ manufacturer }}</span></p>
								{% endif %}
								{% if stock %}
								<p class="product-brand"><span>{{ text_stock }} :</span> <span class="text-col">{{ stock }}</span></p>
								{% endif %}
							</div>
							<hr>
							<!--<p class="product-description">{{ description }}</p>-->
							<div class="action">
								<span class="action-qty">{{ entry_qty }}</span>
								<span class="sp-quantity">
									<div class="sp-input">
										<input type="text" name="quantity" value="{{ minimum }}" id="input-quantity" class="quntity-input" readonly />
										<input type="hidden" name="product_id" id="product_id" value="{{ product_id }}" />
										
										{% if price %} 
											{% if not special %}
												<input type="hidden" name="product_with_option_price" id="product_with_option_price" value="{{ unf_price }}" /> 
											{% else %}
												<input type="hidden" name="product_with_option_price" id="product_with_option_price" value="{{ unf_special }}" />
											{% endif %}
										{% else %}
										<input type="hidden" name="product_with_option_price" id="product_with_option_price" value="0.00" />
										{% endif %}
									</div>
									<div class="sp-minus fff"> <a class="qty-up-down" href="JavaScript:void(0)">-</a></div>
									<div class="sp-plus fff"> <a class="qty-up-down" href="JavaScript:void(0)">+</a></div>
								</span>
								{% if options %}
								<button type="button" data-toggle="modal" data-target="#addtocartModal" class="add-to-cart btn btn-default ">{{ button_cart }}</button>
								{% else %}
								<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="add-to-cart btn btn-default ">{{ button_cart }}</button>
								{% endif %}
								{% if minimum > 1 %}
								<div class="alert alert-info" id="error-qty"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
								{% endif %}
								<span class="" id="error-qty"></span>
							</div>
							
							{% if options %}
							<!-- The Modal -->
							<div class="modal fade" id="addtocartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog  modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-body">
											<button type="button" class="close" onclick="hide_option_modal();">&times;</button>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-12">
													<h4 class="title-model-login ">Select Product Options</h4>
												</div>
											</div>
											<div class="row pt-10">
												{% for option in options %}
													<div class="col-md-6 col-sm-6 col-12">
													{% if option.type == 'select' %}
														<div class="form-group {% if option.required %} required {% endif %}">
															<select class="form-control custom-select" name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}">
																<option value="">{{ option.name }}</option>
																{% for option_value in option.product_option_value %}
																<option value="{{ option_value.product_option_value_id }}" data-value="{{ option.product_option_id }}">{{ option_value.name }}
																{% if option_value.price %}
																({{ option_value.price_prefix }}{{ option_value.price }})
																{% endif %} </option>
																{% endfor %}
															</select>
														</div>
													{% endif %}
													</div>
												{% endfor %}
											</div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-12">
													<div class="">
														<h3 class="product-price text-right"><span class="text-small black-col mtb-0">Subtotal: </span>
															{% if price %}
																{% if not special %}
																	<span class="price unit_price">{{ price }}</span>
																{% else %}
																	<span style="text-decoration: line-through;">{{ price }}</span> <span class="price unit_price">{{ price }}</span>
																{% endif %}														
															{% endif %}														
														</h3>
													</div>
												</div>
											</div>
											<div class="row ptb-20">
												<div class="col-md-4 col-sm-4"></div>
												<div class="col-sm-6 col-md-4 col-12">
													<button type="button" class="cancel-btn btn btn-default form-control" data-dismiss="modal" >Cancel</button>
												</div>
												<div class="col-sm-6 col-md-4 col-12">
													<div>
														<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="add-to-cart btn btn-default form-control ">{{ button_cart }}</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endif %}							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Add to cart Model -->

<style>
.black-col{
	color: #333;
}
.cancel-btn{
	background: transparent;
	padding: 6px 40px;
	border: none;
	text-transform: UPPERCASE;
	color: #847d7d;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	border: 1px solid #80808033;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02);
}
</style>

<!-- Add to cart Model -->



<section class="detail-descr">
	<div class="container">
		<ul class="nav" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#tab-description">{{ tab_description }}</a>
			</li>			
			<!--Custom Tab-->
			{% if customtabs %}
			{% for key, customtab in customtabs %}
				<li class="nav-item">
					<a class="nav-link" href="#tabcustom{{ key }}" data-toggle="tab">{{ customtab.title }}</a>
				</li>
			{% endfor %}
			{% endif %}
			<!--Custom Tab-->			
			{% if attribute_groups %}
			<li class="nav-item"><a class="nav-link" href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
			{% endif %}
			{% if review_status %}
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-review">{{ tab_review }}</a></li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div id="tab-description" class="container tab-pane active">{{ description }}</div>
			
			<!--Custom Tab-->
			{% if customtabs %}
			{% for key, customtab in customtabs %}
				<div class="tab-pane"id="tabcustom{{ key }}">
					{{ customtab.description }}
				</div>
			{% endfor %}
			{% endif %}
			<!--Custom Tab-->
			
			{% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
			{% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2>{{ text_write }}</h2>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" data-validation="required length" data-validation-length="2-32"  />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control" data-validation="required length" data-validation-length="2-1000"></textarea>
                    <!--<div class="help-block">{{ text_note }}</div>-->
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}
		</div>
	</div>
</section>   

{% if products %}
<section class="rel-prod ptb-50">
	<div class="container">
		<h2 class="rel-title">{{ text_related }}</h2>
		<div class="row">
			{% for product in products %}
			<div class="col-md-3 col-sm-6 col-12 product-thumb transition">
				<div class="rel-box">
					<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
					<div class="rel-rating">
						<p>
						{% for j in 1..5 %}
						{% if product.rating < j %}
						<span class="fa fa-star"></span>
						{% else %}
						<span class="fa fa-star checked"></span>
						{% endif %}
						{% endfor %}
						</p>
					</div>
					<div class="rel-bottom">
						<hr>
						<p><a href="{{ product.href }}"><strong>{{ product.name }}</strong></a></p>
						<hr>
						
						{% if product.price %}
						<p class="rel-amount">
							{% if not product.special %}
								{{ product.price }} 
							{% else %}
								<span style="text-decoration: line-through;">{{ product.price }}</span> {{ product.special }}
							{% endif %}
						</p>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('.mask').show();
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('.mask').hide();
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				
				//Dealer product error
				if (json['error']['dealer_product']) {
					hide_option_modal();				
					$('.cart-msg').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['dealer_product'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
				
				//quantity error
				if (json['error']['quantity']) {
					$('#error-qty').after('<div class="text-danger">' + json['error']['quantity'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				
				hide_option_modal();
				
				$('.cart-msg').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	if(!($('#form-review').isValid())){
		return false;
	}
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('.mask').show();
			$('#button-review').button('loading');
		},
		complete: function() {
			$('.mask').hide();
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});

$(".qty-up-down").on("click", function () {
    var $button = $(this);
    var oldValue = $button.closest('.sp-quantity').find("input.quntity-input").val();
    if ($button.text() == "+") {
        var newVal = parseFloat(oldValue) + 1;
    } else {
        // Don't allow decrementing below zero
        if (oldValue > 1) {
            var newVal = parseFloat(oldValue) - 1;
        } else {
            newVal = 1;
        }
    }
    $button.closest('.sp-quantity').find("input.quntity-input").val(newVal);
});

/* function get_option_price(option_value_id, product_option_id, product_id, product_with_option_price){
	$.ajax({
		url: 'index.php?route=product/product/getOptionPrice',
		data: {option_value_id:option_value_id, product_option_id: product_option_id, product_id: product_id, product_with_option_price: product_with_option_price},
		type: 'post',
		dataType: 'json',
		beforeSend: function() {
			//$('#button-review').button('loading');
		},
		complete: function() {
			//$('#button-review').button('reset');
		},
		success: function(json) {
			if (json['success']) {
				$('#product_with_option_price').val(json['unformated_price']);
				$('.unit_price').html('');
				$('.unit_price').html(json['price']);
				$('.unit_price_tax').html('');
				$('.unit_price_tax').html(json['tax']);
			}
			if (json['error']) {
				$('#input-option'+product_option_id).next('div').remove();
				$('#input-option'+product_option_id).after('<div class="text-danger">' + json['msg'] + '</div>');
			}
		}
	});
}

$('.custom-select').on('change', function() {
	var option_value_id = $('.custom-select').find(":selected").val();
	var product_option_id = $('.custom-select').find(":selected").attr('data-value');
	var product_id = $('#product_id').val();
	var product_with_option_price = $('#product_with_option_price').val();
	get_option_price(option_value_id, product_option_id , product_id, product_with_option_price);
}); */

function hide_option_modal(){
	$('#addtocartModal').modal('hide');
}

//--></script> 
{{ footer }} 
