{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>

<section class="ptb-20">
	<div class="container" id="content">
		<div class="row">
			<div class="col-sm-12">
                <h2 class="mb-20"><span class="red">{{ heading_title }}</span></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
				
				<input type="hidden" name="year" value="{{ year }}" id="input-year"/>
				<input type="hidden" name="make" value="{{ make }}" id="input-make"/>
				<input type="hidden" name="model" value="{{ model }}" id="input-model"/>
				
			</div>
			<div class="col-sm-3">
				<select name="category_id" class="form-control">
					<option value="0">{{ text_category }}</option>
					{% for category_1 in categories %}
					{% if category_1.category_id == category_id %}
					<option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
					{% else %}
					<option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
					{% endif %}
					{% for category_2 in category_1.children %}
					{% if category_2.category_id == category_id %}
					<option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
					{% else %}
					<option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
					{% endif %}
					{% for category_3 in category_2.children %}
					{% if category_3.category_id == category_id %}
					<option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
					{% else %}
					<option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
					{% endif %}
					{% endfor %}
					{% endfor %}
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-3">
				<label class="checkbox-inline" style="padding-top: 7px;">
				{% if sub_category %}
				<input type="checkbox" name="sub_category" value="1" checked="checked" />
				{% else %}
				<input type="checkbox" name="sub_category" value="1" />
				{% endif %}
				{{ text_sub_category }}</label>
			</div>
			<div class="col-sm-3">
				<!--<label class="checkbox-inline">
				{% if description %}
				<input type="checkbox" name="description" value="1" id="description" checked="checked" />
				{% else %}
				<input type="checkbox" name="description" value="1" id="description" />
				{% endif %}
				{{ entry_description }}</label>-->
				<input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary form-control" />
			</div>
		</div>		
		<hr />		
		<div class="row">
			{# {{ column_left }} #}
			<!---->
			{% if products %}
			<div class="col-sm-12">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 my-3">
							<!---->
							<div class="well well-sm mb-30">
								<div class="btn-group arrow_carrot-2right">
									<a href="#" id="list" class="btn btn-default btn-sm"><i class="fa fa-list-ul" aria-hidden="true"></i></a> 
									<a href="#" id="grid" class="btn btn-default btn-sm "><i class="fa fa-th" aria-hidden="true"></i></a>
									<span class="text-small">{{ results }}</span>
								</div>
								<span class="text-grid-filter" style="float: right">
									<label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
									<select id="input-limit" class="st-select" onchange="location = this.value;">
										{% for limits in limits %}
											{% if limits.value == limit %}
												<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
											{% else %}
												<option value="{{ limits.href }}">{{ limits.text }}</option>
											{% endif %}
										{% endfor %}
									</select>
									<label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
									<select id="input-sort" class="st-select" onchange="location = this.value;">
										{% for sorts in sorts %}
											{% if sorts.value == '%s-%s'|format(sort, order) %}
												<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
											{% else %}
												<option value="{{ sorts.href }}">{{ sorts.text }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</span>
							</div>
						</div>
					</div> 
					<span class="cart-msg"></span>
					<div id="products" class="row view-group">
						{% for product in products %}
						<div class="item col-xs-3 col-lg-3">
							<div class="thumbnail card">
								<div class="img-event center">
									<a href="{{ product.href }}"> <img class="group list-group-image center" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
								</div>
								<div class="caption card-body">
									{% if product.rating %}
									<div class="rel-rating">
										<p>
											{% for i in 1..5 %}
												{% if product.rating < i %}
													<span class="fa fa-star"></span>
												{% else %}
													<span class="fa fa-star checked"></span>
												{% endif %}
											{% endfor %}
											<!--<span class="rel-review"> No Review </span>-->
										</p>
									</div>
									{% endif %}
									<hr>
									<a href="{{ product.href }}" title="{{product.name}}"><h4 class="group word-limit card-title inner list-group-item-heading">
									{{ product.name }}</h4></a> <hr>
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<p class="product-price">
											{{ product.price }} </p>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<button class="btn btn-product-to-add" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" >{{ button_cart }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div> 
					<div class="row">
						<div class="col-sm-6 text-left">{{ pagination }}</div>
						<div class="col-sm-6 text-right">{{ results }}</div>
					</div>
				</div>
			</div>
            {% else %}
			<div class="col-sm-12">
                <h2 class="text-center not-found">{{ text_empty }}</h2>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{{ content_bottom }}
{{ footer }} 


<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';
	
	var year = $('#content input[name=\'year\']').prop('value');

	if (year) {
		url += '&year=' + encodeURIComponent(year);
	}
	
	var make = $('#content input[name=\'make\']').prop('value');

	if (make) {
		url += '&make=' + encodeURIComponent(make);
	}
	
	var model = $('#content input[name=\'model\']').prop('value');

	if (model) {
		url += '&model=' + encodeURIComponent(model);
	}

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>

<script type="text/javascript">
$(document).ready(function(){
	$('#grid').addClass('selected');
	$('#list').removeClass('selected');
});
$('#list').click(function(event){
	event.preventDefault();
	$('#products .item').addClass('list-group-item');
	$('#list').addClass('selected');
	$('#grid').removeClass('selected');
});
$('#grid').click(function(event){
	event.preventDefault();
	$('#products .item').removeClass('list-group-item');
	$('#products .item').addClass('grid-group-item');
	$('#grid').addClass('selected');
	$('#list').removeClass('selected');
});
</script>