<!-- sign up newsletter -->
<section class="sign-news">
	<div class="container">
		<div class="row" id="display_ns_msg">
			<div class="col-md-3 col-sm-6">
				<p class="signup-text">{{ text_newsletter }}</p>
			</div>
				<div class="col-md-6 col-sm-6">
					<div class="">
						<form id="barakatNewsletter" method="post" action="#">
							<input name="email" type="email" value=""  placeholder="{{ place_email }}" class="form-control" data-validation="required email">
						</form>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<button type="button" class="btn form-control search" id="submitNewsletter">{{ text_signup }}</button>
				</div>
		</div>
	</div>
</section>
<!-- sign up newsletter -->
{% if(footer_after_newsletter and footer_after_newsletter is not null) %}
<!--help center -->
<section class="help-center">
	<div class="container">
		{{ footer_after_newsletter['description']|html_entity_decode }}
	</div>
</section>
<!-- help center -->
{% endif %}
<!--footer starts from here-->
<footer class="footer">
	<div class="container bottom_border">
		<div class="row">
			<div class=" col-sm-4 col-md col-sm-4  col-12 col animated  fadeInUp" data-wow-delay="0.2s">
				<h5 class="headin5_amrc col_white_amrc pt2"> 
				{% if logo %}
					<img src="{{ logo }}" alt="{{ name }}">
				{% else %}
					{{ name }}
				{% endif %}
				</h5>
				<!--headin5_amrc-->
				{% if footer_after_logo_text and footer_after_logo_text is not null %}
					{{ footer_after_logo_text.description|html_entity_decode }}
				{% endif %}
				
				<!--<ul class="social_footer_ul">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>-->
				
				{% if social_links %}
				<ul class="social_footer_ul">
					{% for link,class in social_links %}
					<li><a href="{{ link }}"><i class="{{ class }}" aria-hidden="true"></i></a></li>
					{% endfor %}
				</ul>
				{% endif %}
				
			</div>
			<div class=" col-sm-4 col-md  col-6 col animated  fadeInUp" data-wow-delay="0.2s">
				<h5 class="headin5_amrc col_white_amrc pt2">{{ text_customer_service }}</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="{{ contact }}">Help Center</a></li>
					<li><a href="{{ account }}">{{ text_account }}</a></li>
					<!--<li><a href="{{ account }}">{{ text_account }}</a></li>
					<li><a href="#">Track My Order </a></li>
					<li><a href="#">Return Policy </a></li>
					<li><a href="#">Price Match</a></li>
					<li><a href="#">Gift Cards</a></li>
					<li><a href="{{ contact }}">{{ text_contact }}</a></li>-->
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>
			<div class=" col-sm-4 col-md  col-6 col  animated  fadeInUp" data-wow-delay="0.2s">
				<h5 class="headin5_amrc col_white_amrc pt2">Information</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					{% for information in informations %}
					<li><a href="{{ information.href }}">{{ information.title }}</a></li>
					{% endfor %}
					<!--<li><a href="">Guides & Articles</a></li>
					<li><a href="">Customer Reviews</a></li>
					<li><a href="">Coupon Codes</a></li>
					<li><a href="">Military Discount</a></li>
					<li><a href="">Scholarships</a></li>
					<li><a href="">In the News</a></li>-->
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>
			<div class=" col-sm-4 col-md  col-12 animated  fadeInUp" data-wow-delay="0.2s">
				<h5 class="headin5_amrc col_white_amrc pt2 foot-last-contact">Contact Info</h5>
				<!--headin5_amrc ends here-->
				{% if(site_phone is not null) %}
				<p><i class="fa fa-phone col-red"></i>  {{ site_phone }}  </p>
				{% endif %}
				{% if(site_address is not null) %}
				<p><i class="fa fa-map-marker col-red"></i> {{ site_address }}</p>
				{% endif %}
				{% if(site_email is not null) %}
				<p><i class="fa fa fa-envelope col-red"></i> {{ site_email }} </p>
				{% endif %}
				<!--footer_ul2_amrc ends here-->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class=" col-sm-4 col-md  col-6 col">
				<p class="footer-bottom">Designed by Ethane Web Technologies</p>
			</div>
			<!--foote_bottom_ul_amrc ends here-->
			<div class=" col-sm-4 col-md  col-6 col">
				{% if footer_copyright_text and footer_copyright_text is not null %}
					{{ footer_copyright_text.description|html_entity_decode }}
				{% endif %}
			</div>
			<div class=" col-sm-4 col-md  col-6 col">
				{% if footer_payment_logo and footer_payment_logo is not null %}
					{{ footer_payment_logo.description|html_entity_decode }}
				{% endif %}
			</div>
			<!--social_footer_ul ends here-->
		</div>
	</div>
</footer>


<!-- The Signup Modal -->
<div class="modal fade" id="signupModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="col-md-12 col-sm-12 col-12">
					<button type="button" class="close" onclick="hide_sign_modal('signupModal', 'signupFormIndividual', 'signupFormDealer');">&times;</button>
					<h4 class="title-model-login text-center">{{ text_account_signup }}</h4>
					<p class="font-w-6 text-center">{{ text_account_register }}</p>
					<div class="pt-30">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="Individual User" data-value="individual" name="select_user_type" value="0" checked>
							<label class="custom-control-label" for="Individual User">{{ text_ind_user }}</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="Dealer" data-value="dealer" name="select_user_type" value="1">
							<label class="custom-control-label" for="Dealer">{{ text_dealer }}</label>
						</div>
					</div>
					<div class="individual box">
						<form id="signupFormIndividual" action="#" method="">
							<input type="hidden" class="custom-control-input" id="" name="usertype" value="0">
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_firstname }}</p>
								<div class="form-group">
									<input type="text" name="firstname" id="input-option-firstname" placeholder="{{ entry_firstname }}" class="form-control" data-validation="required length custom" data-validation-length="2-32" data-validation-regexp="^([a-zA-Z ]+)$">
								</div>
							</div>
							<div class="pt-20">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_lastname }}</p>
								<div class="form-group">
									<input type="text" name="lastname" id="input-option-lastname" placeholder="{{ entry_lastname }}" class="form-control" data-validation="length custom" data-validation-length="2-32" data-validation-regexp="^([a-zA-Z ]+)$" data-validation-optional="true">
								</div>
							</div>
							<div class="pt-20">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_email }}</p>
								<div class="form-group">
									<input type="email" name="email" id="input-option-email" placeholder="{{ entry_email }}" class="form-control" data-validation="required length email" data-validation-length="max128">
								</div>
							</div>
							<div class="pt-20">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_telephone }}</p>
								<div class="form-group">
									<input type="text" name="telephone" id="input-option-telephone" placeholder="{{ entry_telephone }}" class="form-control" data-validation="required length custom" data-validation-length="10-20" data-validation-regexp="^([0-9+]+)$">
								</div>
							</div>
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_password }}</p>
								<div class="form-group">
									<input type="password" id="input-option-password" placeholder="{{ entry_password }}" name="password_confirmation" class="form-control" data-validation="required length" data-validation-length="8-20">
								</div>
							</div>
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0">{{ entry_confirm }}</p>
								<div class="form-group">
									<input type="password" id="input-option-confirm" placeholder="{{ entry_confirm }}" name="password" class="form-control" data-validation="confirmation">
								</div>
							</div>
							<div class="pt-60 pb-20">
								<button id="signup-btn-individual" type="button" class="btn btn-lg-red form-control" >{{ btn_account }}</button>
							</div>
						</form>
					</div>
					<div class="dealer box">
						<form id="signupFormDealer" action="#" method="">
							<input type="hidden" class="custom-control-input" id="" name="usertype" value="1">
							<!--<div class="pt-30">
								<div class="">
									<img src="images/model-icons/user.png" alt="dealer image">
								</div>
							</div>-->
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_bussinessname }}</p>
								<div class="form-group">
									<input type="text" name="business_name" id="input-option-business_name" placeholder="{{ entry_bussinessname }}" class="form-control" data-validation="required length alphanumeric" data-validation-length="2-255">
								</div>
							</div>
							<div class="pt-20">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_contactname }}</p>
								<div class="form-group">
									<input type="text" name="firstname" id="input-option-dfirstname" placeholder="{{ entry_contactname }}" class="form-control" data-validation="required length custom" data-validation-length="2-32" data-validation-regexp="^([a-zA-Z ]+)$">
								</div>
							</div>
							<!--<div class="pt-20">
								<p class="font-w-6 mb-6 m-0 text-capitalize"> Address</p>
								<div class="form-group">
									<input type="text" name="address" placeholder="Please enter address" class="form-control">
								</div>
							</div>-->
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0">{{ entry_email }}</p>
								<div class="form-group">
									<input type="email" placeholder="{{ entry_email }}" name="email" id="input-option-demail" class="form-control" data-validation="required length email" data-validation-length="max128">
								</div>
							</div>
							<div class="pt-20">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_telephone }}</p>
								<div class="form-group">
									<input type="text" name="telephone" id="input-option-dtelephone" placeholder="{{ entry_telephone }}" class="form-control" data-validation="required length custom" data-validation-length="10-20" data-validation-regexp="^([0-9+]+)$">
								</div>
							</div>
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0 text-capitalize">{{ entry_taxid }}</p>
								<div class="form-group">
									<input type="text" placeholder="{{ entry_taxid }}" id="input-option-taxid" name="taxid" class="form-control" data-validation="required length alphanumeric" data-validation-length="2-100">
								</div>
							</div>
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0">{{ entry_password }}</p>
								<div class="form-group">
									<input type="password" placeholder="{{ entry_password }}" name="password_confirmation" id="input-option-dpassword" class="form-control" data-validation="required length" data-validation-length="8-20">
								</div>
							</div>
							<div class="pt-30">
								<p class="font-w-6 mb-6 m-0">{{ entry_confirm }}</p>
								<div class="form-group">
									<input type="password" placeholder="{{ entry_confirm }}" name="password" id="input-option-dconfirm" class="form-control" data-validation="confirmation">
								</div>
							</div>
							<div class="pt-60 pb-20">
								<button id="signup-btn-dealer" type="button" class="btn btn-lg-red form-control" >{{ btn_account }}</button>
							</div>
						</form>
					</div>
					<p class="text-center mb-30 for-text">{{ tnc_1 }} <a href="javascript:void(0);">{{ tnc_2 }}</a> &nbsp;&nbsp;|&nbsp;&nbsp; {{ have_account }} <a href="javascript:void(0);" onclick="open_login_modal()">{{ btn_click_here }}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- The Signup Modal: End -->

<!-- The Login Modal -->
<div class="modal" id="loginModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="col-md-12 col-sm-12 col-12">
					<button type="button" class="close" onclick="hide_modal('loginModal', 'loginForm');">&times;</button>
					<h4 class="title-model-login text-center">{{ text_let_start }}</h4>
					<p class="font-w-6 text-center">{{ text_login }}</p>
					<form id="loginForm" action="#" method="">
						<span id="input-option-warning"></span>
						<div class="mtb-40">
							<p class="font-w-6  m-0 mb-6 text-capitalize">{{ entry_email }}</p>
							<div class="form-group">
								<input type="email" name="email" id="input-option-lemail" placeholder="{{ entry_email }}" class="form-control" data-validation="required email">
							</div>
						</div>
						<div class="mtb-40">
							<p class="font-w-6 m-0 mb-6 text-capitalize">{{ entry_password }}</p>
							<div class="form-group">
								<input type="password" id="input-option-lpassword" placeholder="{{ entry_password }}" name="password" class="form-control" data-validation="required">
							</div>
						</div>
						<div class="mtb-40 mb-20">
							<button id="login-btn" type="button" class="btn btn-lg-red form-control" >{{ btn_login }}</button>
						</div>
						<p class="text-center for-text">{{ have_dont_account }} <a href="javascript:void(0);" onclick="open_signup_modal()">{{ btn_click_here }}</a> &nbsp;&nbsp;|&nbsp;&nbsp;
							{{ forgot_password }} <a href="javascript:void(0);" onclick="open_forgotten_modal()">{{ btn_click_here }}</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- The Login Modal: End -->

<!-- The Forgotten Password Modal -->
<div class="modal" id="forgottenModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="col-md-12 col-sm-12 col-12">
					<button type="button" class="close" onclick="hide_modal('forgottenModal', 'forgottenForm');">&times;</button>
					<h4 class="title-model-login text-center">{{ forgot_password }}</h4>
					<p class="font-w-6 text-center">{{ forgot_email_text }}</p>
					<form id="forgottenForm" action="#" method="">
						<span id="input-option-fwarning"></span>
						<span id="input-option-fmessage"></span>
						<div class="mtb-40">
							<p class="font-w-6  m-0 mb-6 text-capitalize">{{ entry_email }}</p>
							<div class="form-group">
								<input type="email" name="email" id="input-option-femail" placeholder="{{ entry_email }}" class="form-control" data-validation="required email">
							</div>
						</div>
						<div class="mtb-40 mb-20">
							<button id="forgotten-btn" type="button" class="btn btn-lg-red form-control" >{{ btn_submit }}</button>
						</div>
						<p class="text-center for-text">{{ have_login }} <a href="javascript:void(0);" onclick="open_login_modal()">{{ btn_click_here }}</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- The Forgotten Password Modal: End -->
<div class="mask"><div class="loader"></div></div>

<!--<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>-->
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}


<script type="text/javascript">
//Formvalidator
$.validate({modules : 'security'});

$("#submitNewsletter").click(function(e){
	e.preventDefault();
	if(!($('#barakatNewsletter').isValid())){
		return false;
	}
	$.ajax({
		url: 'index.php?route=newsletter/newsletter/subscribe',
		type: 'post',
		dataType: 'json',
		data: $("#barakatNewsletter").serialize(),
		beforeSend: function() {
			$('.mask').show();
			$('#submitNewsletter').button('loading');
		},
		complete: function() {
			$('.mask').hide();
			$('#submitNewsletter').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();
			console.log(json);
			if (json.status == 'error') {
				$('#display_ns_msg').after('<div class="row" > <div class="offset-md-3 col-md-6 col-sm-12 footer_alert"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json.message + '</div></div>');
			}
			if (json.status == 'success') {
				$('#barakatNewsletter')[0].reset();
				$('#display_ns_msg').after('<div class="row"> <div class="offset-md-3 col-md-6 col-sm-12"><div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json.message + '</div></div></div>');
				$('input[name=\'email\']').val('');
			}
		}
	});
});

$('input[type="radio"]').click(function(){
	var inputValue = $(this).attr("data-value");
	var targetBox = $("." + inputValue);
	$(".box").not(targetBox).hide();
	$(targetBox).show();
});

$('#signup-btn-individual').on('click', function(ev){
	ev.preventDefault();
	if(!($('#signupFormIndividual').isValid())){
		return false;
	}
	$('.text-danger').remove();
	$.ajax({
		url: 'index.php?route=account/register/ajax_register',
		data: $('#signupFormIndividual').serialize(),
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			$('.mask').show();
		},
		complete: function() {
			$('.mask').hide();
		},
		success: function(json) {
			if(json.logged){
				window.location.href = json.redirect;
			} else {
				if(json.success){
					toastr.success("Successfully registered");
					if(json.redirect){
						window.location.href = json.redirect;
					} else {
						window.location.reload();
					}
				}				
				if(json.error){
					for (i in json.error) {
						var element = $('#input-option-' + i);
						element.after('<div class="text-danger">' + json.error[i] + '</div>');
					}
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}		
	});
});

$('#signup-btn-dealer').on('click', function(ev){
	ev.preventDefault();
	if(!($('#signupFormDealer').isValid())){
		return false;
	}
	$('.text-danger').remove();
	$.ajax({
		url: 'index.php?route=account/register/ajax_register',
		data: $('#signupFormDealer').serialize(),
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			$('.mask').show();
		},
		complete: function() {
			$('.mask').hide();
		},
		success: function(json) {
			if(json.logged){
				window.location.href = json.redirect;
			} else {
				if(json.success){
					
					toastr.success("Successfully registered");
					
					if(json.redirect){
						window.location.href = json.redirect;
					} else {
						window.location.reload();
					}
				}				
				if(json.error){
					for (i in json.error) {
						var element = $('#input-option-' + i);
						element.after('<div class="text-danger">' + json.error[i] + '</div>');
					}
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}		
	});
});

$('#login-btn').on('click', function(ev){
	ev.preventDefault();
	if(!($('#loginForm').isValid())){
		return false;
	}
	$('.text-danger').remove();
	$.ajax({
		url: 'index.php?route=account/login/ajax_login',
		data: $('#loginForm').serialize(),
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			$('.mask').show();
		},
		complete: function() {
			$('.mask').hide();
		},
		success: function(json) {
			if(json.logged){
				window.location.href = json.redirect;
			} else {
				if(json.success){
					
					toastr.success("Successfully logged in");
					
					/* toastr.options = {
					  "closeButton": false,
					  "debug": false,
					  "newestOnTop": false,
					  "progressBar": false,
					  "positionClass": "toast-top-right",
					  "preventDuplicates": false,
					  "onclick": null,
					  "showDuration": "300",
					  "hideDuration": "1000",
					  "timeOut": "5000",
					  "extendedTimeOut": "1000",
					  "showEasing": "swing",
					  "hideEasing": "linear",
					  "showMethod": "fadeIn",
					  "hideMethod": "fadeOut"
					} */
					
					if(json.redirect){
						window.location.href = json.redirect;
					} else {
						window.location.reload();
					}
				}				
				if(json.error){
					for (i in json.error) {
						var element = $('#input-option-' + i);
						element.after('<div class="text-danger">' + json.error[i] + '</div>');
					}
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}		
	});
});

$('#forgotten-btn').on('click', function(ev){
	ev.preventDefault();
	if(!($('#forgottenForm').isValid())){
		return false;
	}
	$('.text-danger').remove();
	$('.text-success').remove();
	$.ajax({
		url: 'index.php?route=account/forgotten/ajax_forgotten',
		data: $('#forgottenForm').serialize(),
		type: 'POST',
		dataType: 'json',
		beforeSend: function() {
			$('.mask').show();
		},
		complete: function() {
			$('.mask').hide();
		},
		success: function(json) {
			if(json.logged){
				window.location.href = json.redirect;
			} else {
				if(json.success){
					for (i in json.msg) {
						var element = $('#input-option-' + i);
						element.after('<div class="text-success">' + json.msg[i] + '</div>');
					}
					//window.location.href = json.redirect;
				}				
				if(json.error){
					for (i in json.error) {
						var element = $('#input-option-' + i);
						element.after('<div class="text-danger">' + json.error[i] + '</div>');
					}
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}		
	});
});

function open_signup_modal(){
	$('#signupModal').modal('show');
	$('#loginModal').modal('hide');
	$('#forgottenModal').modal('hide');
}

function open_login_modal(){
	$('#signupModal').modal('hide');
	$('#loginModal').modal('show');
	$('#forgottenModal').modal('hide');
}

function open_forgotten_modal(){
	$('#signupModal').modal('hide');
	$('#loginModal').modal('hide');
	$('#forgottenModal').modal('show');
}

function hide_modal(modal_id, form_id){
	$('.text-danger').remove();
	$('.text-success').remove();
	$('#'+form_id)[0].reset;
	$('#'+modal_id).modal('hide');
}

function hide_sign_modal(modal_id, form_id1, form_id2){
	$('.text-danger').remove();
	$('.text-success').remove();
	$('#'+form_id1)[0].reset;
	$('#'+form_id2)[0].reset;
	$('#'+modal_id).modal('hide');
}

//Mega menu web
$(".megamenu").on("click", function (e) {
	e.stopPropagation();
});

//open search box

function openSearch() {
  document.getElementById("myOverlay").style.display = "block";
}

function closeSearch() {
  document.getElementById("myOverlay").style.display = "none";
}

//Mobile menu open
function openNav() {
	document.getElementById("mySidenav").style.width = "250px";
}

//Mobile menu close
function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
}
</script>
<style>
.form-error{color: #ff0101;}
</style>
</body>
</html>