<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

{% set cssVersion = '1.0.3' %}

<script type="text/javascript" src="catalog/view/javascript/js/jquery.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/popper.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/bootstrap.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/js/slack.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="catalog/view/theme/carbon/stylesheet/css/bootstrap.css">
<link rel="stylesheet" href="catalog/view/theme/carbon/stylesheet/css/bootstrap.min.css">
<link rel="stylesheet" href="catalog/view/theme/carbon/stylesheet/css/font-awesome.min.css">
<link rel="stylesheet" href="catalog/view/theme/carbon/stylesheet/css/style.css?v={{ cssVersion }}">
<link rel="stylesheet" href="catalog/view/theme/carbon/stylesheet/css/animation.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<!--<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<header>
            <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-fluid">
  	{% if logo %}
			<a class="navbar-brand" href="{{ home }}">
				<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
			</a>
		{% else %}
          <h1><a class="navbar-brand" href="{{ home }}">{{ name }}</a></h1>
        {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile_nav" aria-controls="mobile_nav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="mobile_nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-md-right mx-auto"></ul>
            <ul class="navbar-nav navbar-light mr-auto-f ">
				{% if categories is not null %}
					{% for category in categories %}
					{% if category.is_child %}
					<li class="nav-item dropdown megamenu-li dmenu">
					{% else %}
					<li class="nav-item">
					{% endif %}
						{% if category.children and category.children is not null %}
						<a class="nav-link dropdown-toggle" href="" id="dropdown{{ category.category_id }}" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
						{% else %}
						<a class="nav-link" href="{{ category.href }}">{{ category.name }}</a>
						{% endif %}
						{% if category.children and category.children is not null %}
						<div class="dropdown-menu megamenu sm-menu border-top" aria-labelledby="dropdown01">
							<div class="row">
								<div>
									<h2><a href="{{ category.href }}">{{ category.name }}</a></h2>
								</div>
							</div>
							<div class="row">
								{% for child in category.children %}
								<div class="col-sm-3 col-lg-2 mb-2">
									<a class="dropdown-item" href="{{ child.href }}">
										<div class=""> <img src="{{ child.image }}" width="100%"></div>
										<p> {{ child.name }} </p>
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				{% endif %}                        
				<li class="nav-item">
					<a class="nav-link" onclick="openSearch()"><span class="fa fa-search"></span></a>
				</li>
				{{ cart }}				
				{% if logged %}
					<li class="nav-item dmenu dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></a>
						<div class="dropdown-menu sm-menu pull-left" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ account }}"><i class="fa fa-user" aria-hidden="true"></i>{{ text_account }}</a>
							<a class="dropdown-item" href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i>{{ text_logout }}</a>  
						</div>
					</li>
				{% else %}
					<li class="nav-item"><a class="nav-link" onclick="open_login_modal();"><i class="fa fa-user" aria-hidden="true"></i></a></li>
				{% endif %}	
			</ul>
      
            </div>
        </div>
    </nav>
    



	<!--<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		
		<button class="btn  my-sm-0" id="clr-white" onclick="openSearch()"><span class="fa fa-search"></span></button>
		
		{% if logged %}
			<a href="{{ account }}">{{ text_account }}</a>
		{% else %}
			<button class="btn my-2 my-sm-0" id="clr-white" onclick="open_login_modal();"><i class="fa fa-user" aria-hidden="true"></i></button>
		{% endif %}
		
		<button class="btn  my-sm-0 cart" id="clr-white"  onclick="mycartFunction()"  type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="sub-cart">1</span></button>
		
		<ul class="navbar-nav d-flex justify-content-around text-center mr-auto-f">
			{% if categories is not null %}
				{% for category in categories %}
				{% if category.is_child %}
				<li class="nav-item dropdown megamenu-li dmenu">
				{% else %}
				<li class="nav-item">
				{% endif %}
					{% if category.children and category.children is not null %}
					<a class="nav-link dropdown-toggle" href="" id="dropdown{{ category.category_id }}" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">{{ category.name }}</a>
					{% else %}
					<a class="nav-link" href="{{ category.href }}">{{ category.name }}</a>
					{% endif %}
					{% if category.children and category.children is not null %}
					<div class="dropdown-menu megamenu sm-menu border-top" aria-labelledby="dropdown01">
						<div class="row">
							<div>
								<h2>{{ category.name }}</h2>
							</div>
						</div>
						<div class="row">
							{% for child in category.children %}
							<div class="col-sm-3 col-lg-2 mb-2">
								<a class="dropdown-item" href="{{ child.href }}">
									<div class=""> <img src="{{ child.image }}" width="100%"></div>
									<p> {{ child.name }} </p>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>-->
	
	<!--<span class="sidenav-cart" onclick="openNav()">&#9776;</span>-->
	
	
	
	<div id="myOverlay" class="overlay">
		<span class="closebtn" onclick="closeSearch()" title="Close">×</span>
		{{ search }}
	</div>
	
 </header>
 
{% if page_banner %}
<div class="banner">
	<picture>
		<img src="{{ page_banner }}" width="100%"/>
	</picture>
</div>
{% endif %}