{{ header }}
{{ content_top }}
{% if categories is not null %}
<!-- gallery section second -->
<section id="gallery" class="pb-50">
	<div class="container">
	   <div class="row">
			<div class="col-md-12 col-sm-12 col-12">
				<div id="myBtnContainer" class="">
					{% set i = 1 %}
					{% for category in categories %}
					<span class="gal-top">
						<a class="btn {% if i == 1 %} first_link active {% endif %}" onclick="filterSelection('{{ category.name }}')"> {{ category.name }} </a>
					</span>
					{% set i = i+1 %}
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- Portfolio Gallery Grid -->
		<div class="row">
			{% for category in categories %}
				{% if category.children is not null %}
					{% for child in category.children %}
					<div class="column {{ category.name }}">
					   <div class="content">
						<a href="{{ child.href }}">
							<img src="{{ child.image }}" alt="{{ child.name }}" style="width:100%">
							<p>{{ child.name }}</p>
						</a>
					   </div>
					</div>
					{% endfor %}
				{% endif %}
			{% endfor %}
			<!-- END GRID -->
		</div>
	</div>   
</section>
 <!-- gallery -->
 {% endif %}

<!-- mut have every car section -->
{% if (must_have_every_car and must_have_every_car is not null) %}
<section class="must-section">
	<div class="container">
	   {{ must_have_every_car['description']|html_entity_decode }}
	</div>
</section>
<!-- mut have every car section -->
{% endif %}

{% if top_categories is not null %}
<section class="ptb-50 back-white" >
	<div class="card-group">
		{% for category in top_categories %}
		<div class="card">
			<div class="county-car">
				<img src="{{ category.image }}" alt="{{ category.name }}" width="100%;">
                  <div class="overlay-text">
    <div class="text">
                      	<h4>{{ category.name }}</h4>
						<p>{{ category.product_count }} Products</p>
						<a href="{{ category.href }}" class="btn btn-outline-secondary search">Shop Now</a>
                      </div>
  </div>

			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}

<section class="more-depart">
	<h2 class="more-depart-head head">More Departments</h2>
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-md-6 col-sm-6 col-12">
				{% if(more_department_1 and more_department_1 is not null) %}
				<div class="more-depart-main">
					<img src="{{ more_department_1['image'] }}" width="100%">
					{{ more_department_1['description']|html_entity_decode }}
					{% if more_department_1.link %}
						<a href="{{ more_department_1.link }}" class="btn btn-outline-secondary search">Shop Now</a>
					{% endif %}
				</div>
				{% endif %}
				{% if(more_department_2 and more_department_2 is not null) %}
				<div class="more-depart-main">
					<img src="{{ more_department_2['image'] }}" width="100%">
					{{ more_department_2['description']|html_entity_decode }}
					{% if more_department_2.link %}
						<a href="{{ more_department_2.link }}" class="btn btn-outline-secondary search">Shop Now</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<div class="col-xl-6 col-md-6 col-sm-6 col-12">
				{% if(more_department_3 and more_department_3 is not null) %}
				<div class="more-depart-main">
					<img src="{{ more_department_3['image'] }}" width="100%">
					{{ more_department_3['description']|html_entity_decode }}
					{% if more_department_3.link %}
						<a href="{{ more_department_3.link }}" class="btn btn-outline-secondary search">Shop Now</a>
					{% endif %}
				</div>
				{% endif %}
				{% if(more_department_4 and more_department_4 is not null) %}
				<div class="more-depart-main">
					<img src="{{ more_department_4['image'] }}" width="100%">
					{{ more_department_4['description']|html_entity_decode }}
					{% if more_department_4.link %}
						<a href="{{ more_department_4.link }}" class="btn btn-outline-secondary search">Shop Now</a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

<div class="services back-white ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="service">
					{% if(more_department_5 and more_department_5 is not null) %}
					<img src="{{ more_department_5['image'] }}" width="100%">
					{{ more_department_5['description']|html_entity_decode }}
					{% if more_department_5.link %}
						<div class="custom-btn" style="position: absolute; bottom: 28px; left: 25px;">
							<a href="{{ more_department_5.link }}" class="btn search">Shop Now</a>
						</div>
					{% endif %}
					{% endif %}
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service">
					{% if(more_department_6 and more_department_6 is not null) %}
					<img src="{{ more_department_6['image'] }}" width="100%">
					{{ more_department_6['description']|html_entity_decode }}
					{% if more_department_6.link %}
						<div class="custom-btn" style="position: absolute; bottom: 28px; left: 25px;">
							<a href="{{ more_department_6.link }}" class="btn search">Shop Now</a>
						</div>
					{% endif %}
					{% endif %}
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service">
					{% if(more_department_7 and more_department_7 is not null) %}
					<img src="{{ more_department_7['image'] }}" width="100%">
					{{ more_department_7['description']|html_entity_decode }}
					{% if more_department_7.link %}
						<div class="custom-btn" style="position: absolute; bottom: 28px; left: 25px;">
							<a href="{{ more_department_7.link }}" class="btn search">Shop Now</a>
						</div>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{{ content_bottom }}

{% if(testimonials is not null) %}
<!-- testimonial section -->
<section class="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="text-center margin-tb head">Customer Reviews</h3>
			</div>
		</div>
	</div>
	<div class="testimonial-section2">
		<div id="testim" class="testim">
			<div class="testim-cover"> 
				<div class="wrap">
					<span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
					<span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
					<ul id="testim-dots" class="dots">
						{% for testimonial in testimonials %}
							<li class="dot {% if(testimonial.active) %} active{% endif %}"></li>
						{% endfor %}
					</ul>
					<div id="testim-content" class="cont">    
						{% for testimonial in testimonials %}
						<div class="{% if(testimonial.active) %}active{% endif %}">
							<div class="row">
								<div class="col-sm-3">
									<div class="img"><img src="{{ testimonial.image }}" alt=""></div>
								</div>
								<div class="col-sm-9">
									<p><i class="fa fa-quote-left" aria-hidden="true"></i> {{ testimonial.description|html_entity_decode }}<i class="fa fa-quote-right" aria-hidden="true"></i></p>   
									<div class="h4">{{ testimonial.name }}</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div> 
</section>          
<!-- testimonial section -->
{% endif %}

<script type="text/javascript">

// testimonial script
// vars
'use strict'
var	testim = document.getElementById("testim"),
testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
testimLeftArrow = document.getElementById("left-arrow"),
testimRightArrow = document.getElementById("right-arrow"),
testimSpeed = 4500,
currentSlide = 0,
currentActive = 0,
testimTimer,
touchStartPos,
touchEndPos,
touchPosDiff,
ignoreTouch = 30;
;

window.onload = function() {
    // Testim Script
    function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
            testimContent[k].classList.remove("active");
            testimContent[k].classList.remove("inactive");
            testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = testimContent.length-1;
        }

        if (slide > testimContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            testimContent[currentActive].classList.add("inactive");            
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(testimTimer);
        testimTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, testimSpeed)
    }

    testimLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    testimRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function() {
            playSlide(currentSlide = testimDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    // keyboard shortcuts
    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                testimLeftArrow.click();
                break;
                
            case 39:
                testimRightArrow.click();
                break;

            case 39:
                testimRightArrow.click();
                break;

            default:
                break;
        }
    })
		
	testim.addEventListener("touchstart", function(e) {
			touchStartPos = e.changedTouches[0].clientX;
	})

	testim.addEventListener("touchend", function(e) {
		touchEndPos = e.changedTouches[0].clientX;
	
		touchPosDiff = touchStartPos - touchEndPos;
	
		console.log(touchPosDiff);
		console.log(touchStartPos);	
		console.log(touchEndPos);	

	
		if (touchPosDiff > 0 + ignoreTouch) {
				testimLeftArrow.click();
		} else if (touchPosDiff < 0 - ignoreTouch) {
				testimRightArrow.click();
		} else {
			return;
		}			
	})
}


$(window).on('load', function(){
	$('.first_link').trigger('click');
});

function filterSelection(c) {
	var x, i;
	x = document.getElementsByClassName("column");
	if (c == "all") c = "";
	for (i = 0; i < x.length; i++) {
		w3RemoveClass(x[i], "show");
		if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
	}
}
	 
function w3AddClass(element, name) {
	var i, arr1, arr2;
	arr1 = element.className.split(" ");
	arr2 = name.split(" ");
	for (i = 0; i < arr2.length; i++) {
		if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
	}
}
	 
function w3RemoveClass(element, name) {
	var i, arr1, arr2;
	arr1 = element.className.split(" ");
	arr2 = name.split(" ");
	for (i = 0; i < arr2.length; i++) {
		while (arr1.indexOf(arr2[i]) > -1) {
			arr1.splice(arr1.indexOf(arr2[i]), 1);     
		}
	}
	element.className = arr1.join(" ");
}
  
$('#myBtnContainer a').click(function() {
	$('#myBtnContainer a.active').removeClass('active');
	$(this).closest('a').addClass('active');
});

 </script>
{{ footer }}