<div id="search" class="overlay-content">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
	<button type="button" class=""><i class="fa fa-search"></i></button>
</div>