<!--<div class="list-group">
  {% for category in categories %}
  {% if category.category_id == category_id %} 
  <a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a> 
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
  {% else %} 
  <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a>
  {% endif %}
  {% endfor %}
</div>-->


<div class="mtb-20">
	<h6 class="cate-title">Type</h6>
	{% for category in categories %}
		{% if category.category_id == category_id %} 
			<a href="{{ category.href }}" class="list-group-item active tab-active-back" data-toggle="collapse" data-target="#demo{{category.category_id}}">{{ category.name }}</a>
			{% if category.children %}
				{% for child in category.children %}
					{% if child.category_id == child_id %}
						<div id="demo{{category.category_id}}" class="collapse">
							<a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
						</div>
					{% else %} 
						<div id="demo{{category.category_id}}" class="collapse">
							<a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% else %}
			<a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a>
		{% endif %}
	{% endfor %}
</div>



