<section class="part-owl">
	<div class="container">
		<h3 class="text-center">{{ heading_title }}</h3>
		<div class="row">
			<div class="col-xl-12 ccol-md-12 col-xs-12">
				<div class="customer-logos featured_products">
					{% for product in products %}
					<div class="slide">
						<a href="{{ product.href }}">
							<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
							<div class="back-black">
								<div class="slide-text">
									<!--<p>Lamps & Lights</p>-->
									<h4>{{ product.name }}</h4>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	$('.featured_products').slick({
		slidesToShow: 4,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 1000,
		arrows: false,
		dots: false,
		pauseOnHover: false,
		responsive: [{
			breakpoint: 768,
			settings: {
				slidesToShow: 2
			}
		}, 
		{
			breakpoint: 520,
			settings: {
				slidesToShow: 1
			}
		}]
	});
});
</script>