<!--<div class="panel panel-default">
  <div class="panel-heading">{{ heading_title }}</div>
  <div class="list-group"> {% for filter_group in filter_groups %} <a class="list-group-item">{{ filter_group.name }}</a>
    <div class="list-group-item">
      <div id="filter-group{{ filter_group.filter_group_id }}">{% for filter in filter_group.filter %}
        <div class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
            {{ filter.name }}
            {% else %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
            {{ filter.name }}
            {% endif %}</label>
        </div>
        {% endfor %}</div>
    </div>
    {% endfor %}</div>
  <div class="panel-footer text-right">
    <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
  </div>
</div>-->


	{% for filter_group in filter_groups %}
	<div class="mtb-20 p-20">
		<h4>{{ filter_group.name }}</h4>
		<div class="" id="filter-group{{ filter_group.filter_group_id }}">
			{% for filter in filter_group.filter %}
			<div class="form-check">
				<label class="form-check-label" for="exampleRadios1">
				{% if filter.filter_id in filter_category %}
				<input class="form-check-input" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked">
				{{ filter.name }}
				{% else %}
				<input class="form-check-input" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
				{{ filter.name }}
				{% endif %}
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	<!--<div class="mtb-20">
		<h4>Price</h4>
		<div class="">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="price" id="pricerange1" value="price1" checked>
				<label class="form-check-label" for="exampleRadios1">0-100</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="price" id="pricerange2" value="price1">
				<label class="form-check-label" for="exampleRadios2">100-150</label>
			</div>
		</div>
	</div>-->
	<div class="mtb-20">
		<button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
	</div>


<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
