<div class="banner">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<ul class="carousel-indicators">
				{% set banli = 0 %}
				{% for banner in banners %}
				<li data-target="#demo" data-slide-to="{{ banli }}" class="{% if banli == 0 %}active{% endif %}"></li>
				{% set banli = banli+1 %}
				{% endfor %}
			</ul>
			{% set ban = 1 %}
			{% for banner in banners %}
			<!--
			<picture>
			<source media="(max-width: 425px)" srcset="{{ banner.image }}">
			<img src="{{ banner.image }}" width="100%"/>
			</picture>
			-->
			<!--  <img src="{{ banner.image }}" width="100%"/>-->

			<div class="carousel-item {% if ban == 1 %}active{% endif %}">
				<img src="{{ banner.image }}" alt="banner" width="100%">
			<div class="banner-text">
			   <div class="container">
				  <div class="row">
					 <div class="col-sm-12">
						{{ banner.description|html_entity_decode }}
					 </div>
				  </div>
			   </div>
			</div>
			</div>
			<!--
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
			</a>
			-->
			{% set ban = ban+1 %}
			{% endfor %}
		</div>
	</div>
	<div class="enquire-form">
	   <div class="container">
		<form id="serach_form" action="{{ search_action }}" method="get">
		  <div class="row">
			 <div class="col-sm-1"></div>
			 <div class="col-sm-3 col-6">
				<select name="year" id="year" class="form-control">
					<option value="">Select Year</option>
					{% for i in "now"|date("Y").."now -50 years"|date("Y") %}
						<option value='{{  ("now -"~(loop.index-1)~" years")|date("Y") }}'>{{  ("now -"~(loop.index-1)~" years")|date("Y") }}</option>
					{% endfor %}
				</select>
			 </div>
			 <div class="col-sm-3 col-6">
				<select name="make" id="make" class="form-control" onchange="get_model(this.value)">
					<option value="">Select Make</option>
					{% if all_makes %}
						{% for make in all_makes %}
						<option value='{{ make.make }}'>{{ make.make }}</option>
						{% endfor %}
					{% endif %}
				</select>
			 </div>
			 <div class="col-sm-3 col-6">
				<select name="model" id="model" class="form-control">
					<option value="">Select Model</option>
				</select>
			 </div>
			 <div class="col-sm-2 col-6">
				<button class="btn btn-outline-secondary search" type="button" onclick="get_search();"><span class="fa fa-search"></span> Search</button>
			 </div>
		  </div>
			</form>
	   </div>
	</div>
 </div>
 
<script type="text/javascript">
function get_model(make){
	$.ajax({
		url: 'index.php?route=common/home_search/get_model',
		type: 'get',
		dataType: 'json',
		data: {make: make},
		beforeSend: function() {
			$('.mask').show();
		},
		complete: function() {
			$('.mask').hide();
		},
		success: function(json) {
			$('#model').html(json);
		}
	});
}

function get_search(){
	url = "{{ search_action }}";
	
	//year
	var year = $("#year option:selected" ).val();
	var make = $("#make option:selected" ).val();
	var model = $("#model option:selected" ).val();
	
	if(year != ''){
		url = url + '&year='+ encodeURIComponent(year);
	} else {
		url = url + '&year=';
	}
	
	if(make != ''){
		url = url + '&make='+ encodeURIComponent(make);
	} else {
		url = url + '&make=';
	}
	
	if(model != ''){
		url = url + '&model='+ encodeURIComponent(model);
	} else {
		url = url + '&model=';
	}
	
	window.location.href = url;
}

</script>