<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body>
    <table style="width:600px; margin:auto; border:1px solid #eee;border-collapse: collapse;font-size: 14px;">
        <tr>
            <td style="text-align:center;padding:20px; background: #c20202">
                <img src="{{ logo }}" alt="{{ site_name }}" />
            </td>
        </tr>
        <tr>
            <td  style="text-align:center; padding-bottom:10px;">
                <p style="font-size:30px; font-weight:bold;margin-top: 20px;">
				{{ text_subject }}</p>
            </td>
        </tr>
		<tr>
            <td  style="text-align:left; padding:10px;">
                {{ message }}
            </td>
        </tr>
        <tr>
            <td  style="padding:10px;text-align:center; background: #060b0f; color: #fff">
               <p style="margin-bottom:10px;padding-top: 10px;">&copy; 2019 {{ site_name }}, {{ text_right_reserve }}</p>
                <!--<p style="margin-top:0;padding-bottom: 10px;"><a href="" style="color:#000;">Terms & Conditions</a> | <a href="<?php //echo $privacy_policy_url; ?>" style="color:#000;">Privacy Policy</a></p>-->
            </td>
        </tr>
    </table>
</body>
</html>