<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body>
    <table style="width:600px; margin:auto; border:1px solid #eee;border-collapse: collapse;font-size: 14px;">
        <tr>
            <td style="text-align:center;padding:20px;">
                <img src="{{ logo }}" alt="{{ site_name }}" />
            </td>
        </tr>
        <tr>
            <td  style="text-align:center; padding-bottom:10px;">
                <p style="font-size:30px; font-weight:bold;margin-top: 20px;">{{ heading_title }}</p>
            </td>
        </tr>
         <tr>
            <td  style="padding:10px;padding-left:50px;">
                 <p>{{ text_greeting }}</p>
                <p>{{ text_change }}</p>
             
            </td>
         </tr>
          <tr>
         <td  style="padding:10px;padding-left:50px;">
           <p style="padding:20px 0;"><a href="{{ reset }}" style="background-color:#000; color:#fff; padding:10px 20px; text-decoration:none; margin:20px 0;">{{ text_click }}</a></p> 
        </td>
        </tr>
        <tr>
            <td  style="padding:10px;text-align:center;">
               <p style="margin-bottom:10px;padding-top: 10px;">&copy; 2019 {{ site_name }}, {{ text_right_reserve }}</p>
                <!--<p style="margin-top:0;padding-bottom: 10px;"><a href="" style="color:#000;">Terms & Conditions</a> | <a href="<?php //echo $privacy_policy_url; ?>" style="color:#000;">Privacy Policy</a></p>-->
            </td>
        </tr>
    </table>
</body>
</html>