<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body text="#000000" bgcolor="#FFFFFF">
    <p><br>
    </p>
    <div class="moz-forward-container"><br>
      <table style="width:600px; margin:auto; border:1px solid
        #eee;border-collapse: collapse;font-size: 14px;">
        <tbody>
             <tr>
            <td colspan="6"  style="text-align:center;padding:20px; background: #c20202">
				<img src="{{ logo }}" alt="{{ store_name }}" />
            </td>
        </tr>
          <tr>
            <td style="padding:10px;">{{ text_order_id }}</td>
            <td style="padding:10px; font-weight:bold;">#{{ order_id }}</td>
            <td colspan="2" style="padding:10px;">{{ text_date_added }}</td>
            <td style="padding:10px; font-weight:bold;">{{ date_added }}</td>
          </tr>
          <tr>
            <td style="padding:10px;">{{ text_order_status }}</td>
            <td style="padding:10px; font-weight:bold;">{{ order_status }}</td>
          </tr>		

		{% if link %}
		 <tr>
            <td colspan="6" style="padding:20px 10px;"> {{ text_link }} </td>
            <td colspan="6" style="padding:20px 10px;"> {{ link }} </td>
          </tr>
		{% endif %}
		  
		  {% if comment %}
		   <tr>
            <td colspan="6" style="padding:20px 10px;"> {{ comment }} </td>
          </tr>
			{% endif %}
          <tr>
            <td colspan="6" style="padding:10px;text-align:center; background: #060b0f; color: #fff">
              <p style="margin-bottom:10px; padding-top: 10px;">&copy; 2019
			  {{ store_name }}, {{ text_rights }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

