<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body text="#000000" bgcolor="#FFFFFF">
    <p><br>
    </p>
    <div class="moz-forward-container"><br>
      <table style="width:600px; margin:auto; border:1px solid
        #eee;border-collapse: collapse;font-size: 14px;">
        <tbody>
             <tr>
            <td colspan="6"  style="text-align:center;padding:20px; background: #c20202">
				<img src="{{ logo }}" alt="{{ store_name }}" />
            </td>
        </tr>
          <tr>
            <td colspan="6" style="text-align:center;
              padding-bottom:10px;">
              <p style="font-size:18px; font-weight:bold;">{{ store_name }} - {{ text_order }}  #{{ order_id }} {{ text_received }}</p>
            </td>
          </tr>
		  <tr>
            <td colspan="6" style="color:#000; padding:10px;">
              <p>{{ store_name }},</p>
            </td>
          </tr>
          <tr>
            <td colspan="5" style="text-align:center;padding:10px;
              background-color:#c20202; color:#fff;">{{ text_order_details }}</td>
          </tr>
          <tr>
            <td style="padding:10px;">{{ text_order_id }}</td>
            <td style="padding:10px; font-weight:bold;">#{{ order_id }}</td>
            <td colspan="2" style="padding:10px;">{{ text_date_added }}</td>
            <td style="padding:10px; font-weight:bold;">{{ date_added }}</td>
          </tr>
          <tr>
            <td style="padding:10px;">{{ text_payment_method }}</td>
            <td style="padding:10px; font-weight:bold;">{{ payment_method }}</td>
            <td colspan="2" style="padding:10px;">{{ text_shipping_method }}</td>
            <td style="padding:10px; font-weight:bold;">{{ shipping_method }}</td>
          </tr>
          <tr>
            <td colspan="6">
              <table style="border-collapse: collapse; width: 100%;">
                <tbody>
                  <tr>
                    <td colspan="2"
                      style="text-align:center;padding:5px; border-top:
                      1px solid #eee; border-bottom: 1px solid #eee;">{{ text_item }}</td>
                    <td style="color:#000;
                      text-align:center;padding:5px;border-right: 1px
                      solid #eee;border-bottom: 1px solid
                      #eee;border-top: 1px solid #eee;">{{ text_qty }}</td>
                    <td style="color:#000;text-align:center;width:
                      100px;padding: 5px;border-right: 1px solid
                      #eee;border-bottom: 1px solid #eee;border-top: 1px
                      solid #eee;">{{ text_uprice }}</td>
                    <td
                      style="color:#000;text-align:center;padding:5px;border-right:
                      1px solid #eee;border-bottom: 1px solid
                      #eee;border-top: 1px solid #eee;">{{ text_tax }}</td>
                    <td
                      style="color:#000;text-align:center;padding:5px;border-bottom:
                      1px solid #eee;border-top: 1px solid #eee;">{{ text_amount }}</td>
                  </tr>
				  {% for product in products %}
                  <tr>
                    <td style="padding:5px; border-right: 1px solid
                      #eee;border-bottom: 1px solid #eee;"><img src="{{ product.thumb }}" alt="" style="width:80px;"moz-do-not-send="true"></td>
                    <td style="padding:5px; width:37%;border-bottom: 1px
                      solid #eee;"> 
					  <a href="#" style="color:#c20202; font-size: 14px;
                        font-weight: bold; text-decoration: none;"
                        moz-do-not-send="true">{{ product.name }}</a>
						{% if option %}
						{% for option in product.option %}
							<br>
							<small> - {{ option.name }}: {{ option.value }}</small> </td>
						{% endfor %}
						{% endif %}
                    <td
                      style="text-align:center;padding:5px;color:#000;border-right:
                      1px solid #eee;border-bottom: 1px solid #eee;">
					  {{ product.quantity }}</td>
                    <td
                      style="padding:5px;text-align:center;color:#000;border-right:
                      1px solid #eee;border-bottom: 1px solid #eee;">
                      {{ product.price }} </td>
                    <td style="padding:5px;text-align:center;color:#000;
                      border-right: 1px solid #eee;border-bottom: 1px
                      solid #eee; width: 10%;">{{ product.tax }} </td>
                    <td
                      style="padding:5px;text-align:center;color:#000;border-bottom:
                      1px solid #eee;">{{ product.total }}</td>
                  </tr>
				  
				{% endfor %}
				
				{% for total in totals %}
                  <tr>
                    <td colspan="3"
                      style="padding:5px;text-align:right;border-right:
                      1px solid #eee;border-bottom: 1px solid #eee;">{{ total.title }}</td>
                    <td colspan="3"
                      style="padding:5px;text-align:right;color:#000;border-bottom:
                      1px solid #eee;">{{ total.value }} </td>
                  </tr>
				  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
		  
		  {% if comment %}
		   <tr>
            <td colspan="6" style="padding:20px 10px;"> {{ comment }} </td>
          </tr>
			{% endif %}
          <tr>
            <td colspan="6" style="padding:10px;text-align:center; background: #060b0f; color: #fff">
              <p style="margin-bottom:10px; padding-top: 10px;">&copy; 2019
			  {{ store_name }}, {{ text_rights }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

