<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
</head>
<body>
    <table style="width:600px; margin:auto; border:1px solid #eee;border-collapse: collapse;font-size: 14px;">
        <tr>
            <td style="text-align:center;padding:20px; background: #c20202">
                <img src="{{ logo }}" alt="{{ site_name }}" />
            </td>
        </tr>
        <tr>
            <td  style="text-align:center; padding-bottom:10px;">
                <p style="font-size:30px; font-weight:bold;margin-top: 20px;">
				{{ text_signup }}</p>
            </td>
        </tr>
		
		<tr>
			<td style="font-size:20px;padding:20px 20px 10px 20px;text-align: left;color: #000;">
				<table border="0"  cellpadding="0" cellspacing="0" width="100%" style="font-size: 12px; box-shadow: 0 0 2px #80808066;  color: #484848; font-weight: 400; margin-bottom: 20px;">
					<thead>
						<tr style="background: #fff">
							<td colspan="2" style=" padding:5px; font-size: 14px; color: #484848;font-weight: 500;border-right:1px solid #eee;border-bottom: 1px solid #eee;">
							{{ text_signup }}
							</td>
						</tr>
					</thead>
					<tbody style="background: #FFF;">
						{% if business_name %}
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_businessname }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ business_name }}</td>
						</tr>
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_contactname }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ firstname }}</td>
						</tr>
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_taxid }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ taxid }}</td>
						</tr>
						{% else %}
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_firstname }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ firstname }}</td>
						</tr>
						{% if lastname %}
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_lastname }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ lastname }}</td>
						</tr>
						{% endif %}
						{% endif %}
						{% if role %}
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_role }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ role }}</td>
						</tr>
						{% endif %}
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_email }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ email }}</td>
						</tr>
						<tr>
							<td class="w-30" style="padding:5px;border-right:
							1px solid #eee;border-bottom: 1px solid #eee; border-collapse: collapse;
							font-size: 14px;">{{ text_telephone }}</td>
							<td class="w-70" style="padding:5px; border-right:
							1px solid #eee;border-bottom: 1px solid #eee;" colspan="2">{{ telephone }}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
        <tr>
            <td  style="padding:10px;text-align:center; background: #060b0f; color: #fff">
               <p style="margin-bottom:10px;padding-top: 10px;">&copy; 2019 {{ site_name }}, {{ text_right_reserve }}</p>
                <!--<p style="margin-top:0;padding-bottom: 10px;"><a href="" style="color:#000;">Terms & Conditions</a> | <a href="<?php //echo $privacy_policy_url; ?>" style="color:#000;">Privacy Policy</a></p>-->
            </td>
        </tr>
    </table>
</body>
</html>