{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>

<div id="account-account" class="container ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 ">
				<!--<h2>My Profile</h2>-->
				<div class="profile-detail">
					{% if(customer_info.role) %}
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">Business Name : </div>
						<div class="col-sm-9 col-8"> {{ customer_info.business_name }} </div>
					</div>
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">Contact Name :</div>
						<div class="col-sm-9 col-8"> {{ customer_info.firstname }} </div>
					</div>
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">Taxid Number  :</div>
						<div class="col-sm-9 col-8"> {{ customer_info.taxid }} </div>
					</div>
					{% else %}
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">First Name : </div>
						<div class="col-sm-9 col-8"> {{ customer_info.firstname }} </div>
					</div>
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">Last Name :</div>
						<div class="col-sm-9 col-8"> {{ customer_info.lastname }} </div>
					</div>
					{% endif %}
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">Email Id :</div>
						<div class="col-sm-9 col-8"> {{ customer_info.email }} </div>
					</div>
					<div class="row ptb-20">
						<div class="col-sm-3 col-4 font-w-6 ">Contact No :</div>
						<div class="col-sm-9 col-8">{{ customer_info.telephone }}</div>
					</div>
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}