{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>

<div id="account-password" class="container ptb-50">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
		{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
		{% endif %}
      <!--<h1>{{ heading_title }}</h1>-->
	  <div class="profile-detail">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_password }}</legend>
		  <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-old_password">{{ entry_old_password }}</label>
            <div class="col-sm-9">
              <input type="password" name="old_password" value="{{ old_password }}" placeholder="{{ entry_old_password }}" id="input-old_password" class="form-control" data-validation="required" />
              {% if error_old_password %}
              <div class="text-danger">{{ error_old_password }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-password">{{ entry_password }}</label>
            <div class="col-sm-9">
              <input type="password" name="password_confirmation" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" data-validation="required length" data-validation-length="8-20" />
              {% if error_password %}
              <div class="text-danger">{{ error_password }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-confirm">{{ entry_confirm }}</label>
            <div class="col-sm-9">
              <input type="password" name="password" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" data-validation="confirmation" />
              {% if error_confirm %}
              <div class="text-danger">{{ error_confirm }}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <!--<div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>-->
          <div class="text-center">
            <input type="submit" value="{{ button_continue }}" class="btn add-to-cart" />
          </div>
        </div>
      </form>
      {{ content_bottom }}
	  </div>
	  </div>
    {{ column_right }}
	</div>
</div>
{{ footer }}