{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>

<div id="account-reset" class="container ptb-50">
	<div class="row">
		<div id="content" class="offset-sm-2 col-sm-8 res-form">
			<h4 class="title-model-login text-center">{{ heading_title }}</h4>
			<p class="font-w-6 text-center">{{ text_password }}</p>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<!-- <legend>{{ text_password }}</legend> -->
					<div class="mtb-30">
						<p class="font-w-6 m-0 mb-6 text-capitalize">{{ entry_password }}</p>
						<div class="form-group">
							<input type="password" name="password_confirmation" placeholder="{{ entry_password }}" value="{{ password }}" id="input-option-lpassword" class="form-control" data-validation="required length" data-validation-length="8-20" />
							{% if error_password %}
							<div class="text-danger">{{ error_password }}</div>
							{% endif %}
						</div>
					</div>
					<div class="mtb-30">
						<p class="font-w-6 m-0 mb-6 text-capitalize">{{ entry_confirm }}</p>
						<div class="form-group">
							<input type="password" name="password" value="{{ confirm }}" id="input-confirm" class="form-control" placeholder="{{ entry_confirm }}" data-validation="confirmation" />
							{% if error_confirm %}
							<div class="text-danger">{{ error_confirm }}</div>
							{% endif %}
						</div>
					</div>
				</fieldset>
				<div class="buttons clearfix">
					<div class="mtb-30 mb-20">
						<button type="submit" class="btn btn-lg-red form-control">{{ btn_submit }}</button>
					</div>
				</div>
			</form>
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div> 
</div>
{{ footer }}