{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>
<div id="error-not-found" class="container ptb-50">
  <div class="row">
    <div id="content" class="offset-sm-1 col-sm-11 res-form">
		{# {{ content_top }} #}
      <h1>{{ heading_title }}</h1>
      <h3 class="text-center">{{ text_error }}</h3>
      <!--<div class="mtb-30 mb-20">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-lg-red form-cotrol">{{ button_continue }}</a></div>
      </div>-->
      {{ content_bottom }}</div>
		  {# {{ column_right }} #}
</div>
</div>
{{ footer }}
