{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
	{% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-image" data-toggle="tab">{{ tab_image }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-image">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
				{% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-image{{ language.language_id }}">{{ entry_image }}</label>
					<div class="col-sm-10">
						<a href="" id="thumb-image-{{ language.language_id }}" data-toggle="image" class="img-thumbnail"><img src="{{ thumb[language.language_id] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="banner_description[{{ language.language_id }}][image]" value="{{ banner_description[language.language_id] ? banner_description[language.language_id].image }}" id="input-image{{ language.language_id }}" />
						<p><small>{{ text_img_note }}</small></p>
						{% if(error_image[language.language_id]) %}
						  <div class="text-danger">error_image[language.language_id]</div>
						{% endif %}
					</div>
					</div>				  
                </div>
				{% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-data">			
			  <div class="form-group">
                <label class="col-sm-2 control-label" for="input-keyword"><span data-toggle="tooltip" title="{{ help_name }}">{{ entry_name }}</span></label>
                <div class="col-sm-10">
					<select name="name" class="form-control">
						<option value="">{{ text_select }}</option>
						{% for page_key,page_value in pages %}
							<option value="{{ page_key }}" {% if (name == page_key) %} selected {% endif %}>{{ page_value }}</option>
						{% endfor %}
					</select>
					{% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
				   {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
					{% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
                  </select>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
	  <script type="text/javascript"><!--
	$('#language a:first').tab('show');
	$('#option a:first').tab('show');
	//--></script>
</div>
{{ footer }}
