{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div id="content" class="offset-md-1 col-md-10 ">{{ content_top }}
				<h2 class="ptb-20 text-col">{{ heading_title }}</h2>
				<div class="row con-height">
					<div class="col-sm-6 col-12 p-0 m-0">   
						<div class="cont-left">
							<h3>{{ text_location }}</h3>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										{% if image %}
										<div class="col-sm-12 ptb-20 cont-img">
											<img src="{{ image }}" alt="{{ store }}" title="{{ store }}"  />
										</div>
										{% endif %}
										<div class="col-sm-12 ptb-10 font-24">
											<i class="fa fa-phone" aria-hidden="true"></i><span> {{ telephone }}</span>
											<br />
											{% if fax %}
												<i class="fa fa-phone" aria-hidden="true"></i> <span>{{ fax }}</span>
											{% endif %}
										</div>
										<div class="col-sm-12 ptb-10 font-24">
											{% if open %}
											<i class="fa fa-clock-o" aria-hidden="true"></i> 
												<span>{{ open }}</span><br>
											{% endif %}
											{% if comment %}
												<i class="fa fa-commenting-o" aria-hidden="true"></i> 
												<span>{{ comment }}</span>
                                            {% endif %}
										</div>
										<div class="col-sm-12 pt-30 font-24">
											<i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ store }}</span><br>
											<p class="cont-text">{{ address }}</p>
											{% if geocode %}
											<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-contact"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							{% if locations %}
							<h3 class="pt-20"><u>{{ text_store }}</u></h3>
							<div class="panel-group" id="accordion">
								{% for location in locations %}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle panel-white" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
									</div>
									<div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
										<div class="panel-body">
											<div class="row">
											{% if location.image %}
												<div class="col-sm-12 ptb-20 cont-img">
													<img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" />
												</div>
												{% endif %}
												
												<div class="col-sm-12 ptb-10 font-24">
											<i class="fa fa-phone" aria-hidden="true"></i> <span>{{ location.telephone }}</span>
													<br />
													{% if location.fax %}
															<i class="fa fa-phone" aria-hidden="true"></i><span>{{ location.fax }}</span>
													{% endif %}
												</div>
												
												<div class="col-sm-12 ptb-10 font-24">
													{% if location.open %}
												
														<i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ location.open }}</span><br />
													{% endif %}
													{% if location.comment %}
													<i class="fa fa-commenting-o" aria-hidden="true"></i>
													<span>{{ location.comment }}</span>	
													{% endif %}
												</div>
												
												<div class="col-sm-12 pt-30 font-24">
													<i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ location.name }}</span><br />
													<p class="cont-text">{{ location.address }}</p>
													{% if location.geocode %}
													<a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-contact"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
					<div class="col-sm-6 col-12 m-0 p-0">
						<div class="cont-right">
							<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
								<fieldset>
									<legend>{{ text_contact }}</legend>
									<div class="form-group required">
										<label class="col-sm-12 control-label" for="input-name">{{ entry_name }}</label>
										<div class="col-sm-12">
											<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" data-validation="required length custom" data-validation-length="3-32" data-validation-regexp="^([a-zA-Z ]+)$" />
											{% if error_name %}
												<div class="text-danger">{{ error_name }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-12 control-label" for="input-email">{{ entry_email }}</label>
											<div class="col-sm-12">
										<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" data-validation="required email" />
											{% if error_email %}
											<div class="text-danger">{{ error_email }}</div>
											{% endif %}
											</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-12 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
										<div class="col-sm-12">
											<textarea name="enquiry" rows="7" id="input-enquiry" class="form-control" data-validation="required length" data-validation-length="10-3000">{{ enquiry }}</textarea>
											{% if error_enquiry %}
											<div class="text-danger">{{ error_enquiry }}</div>
											{% endif %}
										</div>
									</div>
									{{ captcha }}
								</fieldset>
								<div class="buttons">
									<div class="pull-right">
										<input class="btn add-to-cart" type="submit" value="{{ button_submit }}" />
									</div>
								</div>
							</form>
							{{ content_bottom }}
						</div>
					</div>
				</div>
				{{ column_right }}
			</div>
		</div>
    </div>
	{% if map %}
	<div class="container-fluid m-0">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-12 pt-80">
				<iframe src="{{ map }}" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
	{% endif %}
</section>
{{ footer }}
