{{ header }}

<section class="bread-sec">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				{% set sn = 1 %}
				{% for breadcrumb in breadcrumbs %}
					{% if breadcrumbs|length == sn %}
					<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endif %}
					{% set sn = sn+1 %}
				{% endfor %}
			</ol>
		</nav>
	</div>
</section>

<div id="information-information" class="container">
  <div class="row">
    <div id="content" class="col-md-12 col-sm-12 col-12 ptb-50">
        {# {{ content_top }} #}
      <h2 class="text-col">{{ heading_title }}</h2>
        <div class="back-white">
          {{ description }} 
       </div>
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}