* {
	margin: 0;
	padding: 0;
}

body {
/*      background: #fff;*/
   background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    font-weight: 700;*/
}
a:hover{
    text-decoration: none;
}
.btn:focus{
    box-shadow: none;
}
.btn-remove{
    background: #c20202;
}
.btn-update{
    background: #7b7b7b;
}
.font-w-5 {
	font-weight: 500;
}

.font-w-6 {
	font-weight: 600;
}
.back-white{
    background: #fff;
}
.font-w-7 {
	font-weight: 700;
}

.p-0 {
	padding: 0px
}

.m-0 {
	margin: 0px
}

.mb-50 {
	margin: 50px 0;
}

.mb-40 {
	margin: 40px 0;
}

.mb-530 {
	margin: 30px 0;
}

.ptb-50 {
	padding: 50px 0;
}
.p-20{
    padding: 20px;
}
.ptb-40 {
	padding: 40px 0;
}

.mtb-20 {
	margin: 20px 0;
}

.mtb-30 {
	margin: 30px 0;
}

.mtb-40 {
	margin: 40px 0;
}

.mtb-50 {
	margin: 50px 0;
}

.mtb-60 {
	margin: 60px 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}
.ptb-20 {
	padding: 20px 0;
}

.ptb-30 {
	padding: 30px 0;
}

.ptb-40 {
	padding: 40px 0;
}

.ptb-50 {
	padding: 50px 0;
}

.ptb-60 {
	padding: 60px 0;
}

.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}

.mt-6{
    margin-top: 5px !important;
}
.mb-6{
    margin-bottom: 5px !important;
}
.pt-10 {
	padding-top: 10px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-60 {
	padding-top: 60px;
}
.pt-70 {
	padding-top: 70px;
}
.pt-80 {
	padding-top: 80px;
}
.pt-125{ padding-top: 125px;}
.pb-20 {
	padding-bottom: 20px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-60 {
	padding-bottom: 60px;
}

/* scrollbar css */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* scroll bar css */

#forgetPasswordModal .form-control{
        height: calc(3.25rem + 2px) !important;
}
 #loginModal .form-control{
        height: calc(3.25rem + 2px) !important;
}
#signupModal  .form-control{
        height: calc(3.25rem + 2px) !important;
}

header {
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 10px;
}

#clr-white {
	color: #fff!important;
	background: transparent;
}

.banner {
	position: relative;
	min-height: 316px;
}
.banner img{
	min-height: 350px;
    object-fit: cover;
}

.enquire-form {
	position: absolute;
	bottom: 60px;
	width: 100%;
}

.text-grid-filter{
    font-size: 12px;
        padding-top: 7px;
}
.text-small{
    font-size: 12px;
        padding-top: 9px;
}
.well .btn-group a{
    font-size: 20px;
}
.search {
	background-color: #c20202;
	color: #fff;
	padding-left: 19px;
	padding-right: 19px;
	font-weight: 500;
}
.search:focus{
background-color: #c20202;
	color: #fff;
}

.banner-text {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

.banner-text p span {
	color: #fff;
/*	font-weight: 600;*/
	font-size: 20px;
	margin-right: 5px;
}

.banner-text h2 span {
	font-size: 53px;
	color: #fff;
	letter-spacing: 5px;
	margin-right: 10px;
}

.breadcum-text {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.breadcum-text h2 span {
	font-size: 30px;
	color: #fff;
	letter-spacing: 5px;
	margin-right: 10px;
}

.services {
        background: #fff;
}

.service {
	position: relative;
}

.service-text {
	position: absolute;
	top: 24px;
	left: 24px;
}

.service-text h2 {
	color: #fff;
}

.service-text p span {
	color: #fff;
	font-size: 25px;
}

.nav-link .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    float: right;
    top: 27px;
    position: absolute;

}


@media (max-width:768px) {
    .product-img-sec h2 {
    font-size: 14px;
    font-weight: 700;
}
	.banner-text {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
	}
	.enquire-form {
		position: absolute;
		bottom: 39px;
		width: 100%;
	}
    .breadcum-text {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
	}
	.enquire-form {
		position: absolute;
		bottom: 39px;
		width: 100%;
	}
	.search {
		background-color: #ff042c;
		color: #fff;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 425px) {
	.banner-text {
		position: absolute;
		top: 24%;
		width: 100%;
		text-align: center;
	}
	.banner-text p span {
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		margin-right: 5px;
	}
    	.breadcum-text {
		position: absolute;
		top: 24%;
		width: 100%;
		text-align: center;
	}
	.breadcum-text p span {
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		margin-right: 5px;
	}
	.enquire-form {
		  position: absolute;
		  bottom: 0px;
		width: 100%;
    /* margin-top: 60px; */
/*    background: #e8e8e852;*/
    padding: 25px;
		/*		margin-top: 60px;*/
	}
	.enquire-form .dropdown,
	.search {
		margin-top: 10px;
	}
	.banner-text h2 span {
		font-size: 22px;
		color: #fff;
		letter-spacing: 3px;
		margin-right: 10px;
	}
	.mble-mg-btm-0 {
		margin-bottom: 0px;
	}
	.navbar-brand img {
		width: 120px;
            object-fit: cover;
	}
	.frm-mg-btm {
		margin-bottom: 10px;
	}
	.service {
		position: relative;
		margin-bottom: 30px;
	}
}

@media (max-width:375px) {
	.banner-text {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
	}
	
	.search {
    background-color: #c20202;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
}

	.banner-text p span {
		color: #fff;
		font-weight: 400;
		font-size: 10px;
		margin-right: 5px;
	}
	.banner-text h2 span {
		font-size: 19px;
		color: #fff;
		letter-spacing: 3px;
		margin-right: 10px;
	}
    	.breadcum-text {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
	}
	.breadcum-text p span {
		color: #fff;
		font-weight: 400;
		font-size: 10px;
		margin-right: 5px;
	}
	.breadcum-text h2 span {
		font-size: 19px;
		color: #fff;
		letter-spacing: 3px;
		margin-right: 10px;
	}

}

.cart {
	position: relative;
	background: transparent;
}

.sub-cart {
	position: absolute;
	background-color: #f50808;
	font-size: 10px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 3px;
}
/*

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: #fffffff2;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
	padding: 10px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
}

@media (min-width:1280px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 17px;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
	}
}
*/


/*
.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.nav-link {
    display: block;
     padding: 0.2rem 1rem; 
    padding: 2px 0px 2px;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: #fff;
}
*/


/* owl carosal */

.part-owl {
	padding: 30px 0;
    background: #fff;
}

.slide {
	position: relative
}

.slide .slide-text {
	position: absolute;
	top: 35px;
	left: 20px;
	right:20px;
}

.slide .slide-text p {
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.slide .slide-text h4 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}


/* owl carosal */


/* gallery css */


/*
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
*/


/* gallery css */


/* owl carosual css */


/* Slider */
#gallery {
    background: #fff;
}
#gallery .btn.active {
	background: none;
	/*	color: #000;*/
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
        object-fit: cover;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
        object-fit: cover;
}

.slick-slide.slick-loading img {
	display: none;
        object-fit: cover;
}

.slick-slide.dragging img {
	pointer-events: none;
        object-fit: cover;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}


/* owl carosual css end */


/* gallery second */


/* Center website */


/* Add padding BETWEEN each column */

#myBtnContainer {
	margin: 50px 0 0;
	padding-bottom: 12px;
}

#myBtnContainer .btn {
	text-transform: uppercase;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

#myBtnContainer .gal-top {
	position: relative
}

#myBtnContainer .gal-top .active {
	content: "";
	color: #f70c0c;
	font-weight: bold;
}


/*
#myBtnContainer .active { 
  content: "";
  color: #f70c0c;
  font-weight: bold;
}
*/

#myBtnContainer .gal-top .active::after {
	border-bottom: 2px solid #f70c0c;
	content: '';
	position: absolute;
	width: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 30px;
}


}
.column {
	padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 19.5%;
	display: none;
	/* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 10px;
	   box-shadow: 0 0 5px 2px #f5f4f4;
	-webkit-box-shadow: 0 0 5px 2px #f5f4f4;
    -moz-box-shadow: 0 0 5px 2px #f5f4f4;
	transition: 0.3s;
}
.content img{
        width: 202px;
    height: 180px;
    object-fit: contain;
}
.content p {
	padding-top: 10px;
	text-align: center;
	font-weight: 600;
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	/*  padding: 12px 16px;*/
	/*  background-color: white;*/
	
	cursor: pointer;
}

/*
.btn:hover {
	background-color: #ddd;
	color: #000;
}
*/
.btn.active {
	background-color: #666;
	color: white;
}

/* gallery secongd */

/* must section css */
.must-section {
	background: #f2f2f2;
	padding: 50px;
}
.head {
	text-align: center;
	font-weight: 700;
	margin-bottom: 22px;
	    text-transform: uppercase;
}
.must-section p {
	color: #716e6e;
	text-align: center;
}
.must-section .shifter-enabled {
	margin: 32px 0;
}
.must-section .shifter-enabled .group1-block {
	/*    background: #fff;*/
	
	width: 19%;
	position: relative;
	margin-right: 1%;
	/*         box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);*/
	
	transition: 0.3s;
	padding-left: 5px;
}

.must-section .shifter-enabled .group1-block .must-text p {
	text-align: left;
	font-size: 14px !important;
}
.must-section .shifter-enabled .group1-block .must-right {
	position: absolute;
	right: 20px;
	top: 55px;
	font-size: 24px;
	color: #9fa8b9;
}

/* must section css */

/* country-sec */

/*

.country-sec {
	margin: 0;
	padding: 0;
}

.country-sec .county-car {
	width: 19.7%;
	display: inline-block;
	position: relative;
    margin-bottom: 5px;
}
*/
.card{
    box-shadow: 0 0 5px 2px #f5f4f4;
	-webkit-box-shadow: 0 0 5px 2px #f5f4f4;
	-moz-box-shadow: 0 0 5px 2px #f5f4f4;
	border: none;
}
.back-shadow{
    box-shadow: 0 0 5px 2px #f5f4f4;
	-webkit-box-shadow: 0 0 5px 2px #f5f4f4;
    -moz-box-shadow: 0 0 5px 2px #f5f4f4;
}
.card-group .card .county-car img {
	width: 100%;
}


.back-black{
       position: absolute;
    background: #06060694;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-group .card .county-car .country-text {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 43%;
	transform: translate(-36%, -54%);
}
.card-group .card .county-car .country-text {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 43%;
	transform: translate(-36%, -54%);
}
.card-group .card .county-car .country-text h4 {
	color: #fff;
	font-size: 22px;
	margin: 0;
	text-transform: uppercase;
}
.card-group .card .county-car .country-text p {
	text-align: center;
	color: #fff;
}
.card-group .card .country-text .search {
	text-transform: uppercase;
	margin-left: 20px;
	background-color: #ff042c;
	color: #fff;
	padding-left: 19px;
	padding-right: 19px;
	font-weight: 600;
	margin-left: 15px;
}

/* country sec */

/* line after effect */

/*
  .underline:after {
    border-bottom: 2px solid #f70c0c;
    content: '';
    position: absolute;
    left: 33px;
    right: 0;
    width: 100px;
    top: 82px;
}  
*/

/* margin: 0 auto;
}

/* line after effect */

/* feature-marks */
.feature-marks {
	margin: 25px 0;
}
.feature-marks .feature-section {
	background: #fff;
	padding: 10px;
}


.feature-list{
    position: relative;
}

/* .nav-item {
	position: relative;
} */
.feature-marks .feature-link {
	color: #00000096;
	font-weight: 500;
}
.feature-marks .feature-show-more {
	color: #00000096;
	font-weight: 500;
	border: 1px solid #f70c0c;
	color: #f70c0c;
	border-radius: 5px;
	float: right;
}
.feature-list .active {
	color: #f70c0c;
	border-bottom: 2px solid #f70c0c;
}
/* .feature-list .active::after {
	border-bottom: 2px solid #f70c0c;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	width: 110px;
	top: 44px;
	left: 23px;
} */

/* feature-marks */

/* more-department */

/* more department section */
.more-depart {
	padding: 50px 0;
        background: #fff;
}
.more-depart .more-depart-head {
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
}
.more-depart-main {
	position: relative;
	display: block;
	margin: 15px 0;
}
.more-depart-main img {
	width: 100%;
	/*
    float: left;
    padding-bottom: 30px;
    position: relative;
*/
}
.more-depart-main .more-depart-text {
	position: absolute;
	top: 30px;
	color: #fff;
	left: 31px;
}
.more-depart-main .search {
	position: absolute;
	right: 27px;
	top: 120px;
	padding: 8px 17px;
	text-transform: uppercase;
}
.more-depart-main1 {
	position: relative;
	display: block;
	margin: 15px 0;
}
.more-depart-main1 img {
	width: 100%;
	/*
    float: left;
     position: relative;
    padding-bottom: 30px;
*/
}
.more-depart-main1 .more-depart-text {
	position: absolute;
	/* top: 30px; */
	
	color: #fff;
	left: 29px;
	bottom: `;
	top: 26px;
}
.more-depart-main1 .search {
	position: absolute;
	right: 26px;
	bottom: 30px;
	padding: 8px 17px;
	text-transform: uppercase;
}
.more-depart-main .more-depart-text h4 {
	text-transform: uppercase;
}
.more-depart-main1 .more-depart-text h4 {
	text-transform: uppercase;
}

/* brand-section css */
.mtb5 {
	margin: 50px 0;
}
.brand-section h2 {
	text-transform: uppercase;
}
.brand-section .card-deck {
	padding: 10px 0;
}
.brand-section .card-body {
	padding: 0 1.25rem;
}

/* brand-section css */
@media (min-width:992px) {
	#mySidenav {
		display: none;
	}
	
	.sidenav-cart {
		display: none;
	}
    
    
/*
#myCART {
    display: none;
    padding: 10px 0;
    text-align: center;
    background-color: #ffffff;
    font-size: 12px;
    top: 125px !important;
    right: 8px;
    position: absolute;
    box-shadow: 0 0 5px 2px #ca9e9e61;
    transition: 0.3s;
    z-index: 99999;
}
    
    
    #myCART:before {
    content: "";
    position: absolute;
    top: -22px;
    left: 46px !important;
    border-top: 0px solid transparent;
    border-bottom: 30px solid #ffffff;
    border-right: 28px solid #fff8f300;
    border-left: 28px solid #fff8f300;
}
*/
}

/* more department section */

/* media query code  */
@media (max-width:992px) {
	/* menu bar css */
	
	.sidenav-cart {
		font-size: 30px;
		cursor: pointer;
		position: absolute;
		right: 19px;
		top: 11px;
		color: #fff;
	}
	
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	
	.sidenav a {
		padding: 1px 8px 6px 32px;
		text-decoration: none;
		font-size: 16px;
		color: #d0cfcf;
		display: block;
		transition: 0.3s;
	}
	
	.sidenav a:hover {
		color: #f1f1f1;
	}
	
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}
	
	@media screen and (max-height: 450px) {
		.sidenav {
			padding-top: 15px;
		}
		.sidenav a {
			font-size: 18px;
		}
	}
	/* menu bar css */
	/* gallery css */
	
/*
	.navbar-toggler {
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: #fffffff2;
		border: 1px solid transparent;
		border-radius: 0.25rem;
	}
*/
	

/*
	.column {
		float: left;
		width: 32.5%;
	}
*/
	/* gallery css */
	/* must section css */
	
/*
	.must-section .shifter-enabled .group1-block {
		width: 32%;
		position: relative;
		margin-right: 1%;
		transition: 0.3s;
		padding-left: 5px;
	}
*/
	/* must section css */
	
	.country-sec .county-car {
		width: 33%;
		display: inline-block;
		position: relative;
	}
}

/* media query code  */
@media (max-width:768px) {
	/* menu bar css */
	
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 17px;
		color: #ffffff;
		display: block;
		transition: 0.3s;
	}
	
	.sidenav a:hover {
		color: #f1f1f1;
	}
	
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
	@media screen and (max-height: 450px) {
		.sidenav {
			padding-top: 15px;
		}
		.sidenav a {
			font-size: 18px;
		}
	}
	/* menu bar css */
	
	.column {
		float: left;
		width: 49.5%;
	}
	
	.must-section .shifter-enabled .group1-block {
		width: 31.5% !important;
	}
	
	.country-sec .county-car {
		width: 32%;
		margin: 3px;
		display: inline-block;
		position: relative;
	}
}

/* media query code  */

/* media query code max-width 425px */
@media (max-width: 425px) {
	.underline:after {
		border-bottom: 2px solid #f70c0c;
		content: '';
		position: absolute;
		left: 33px;
		right: 0;
		width: 100px;
		top: 78px;
	}
	
	.column {
		float: left;
		width: 49.5%;
	}
	
	.must-section .shifter-enabled .group1-block {
		width: 49% !important;
	}
	
	.country-sec .county-car {
		width: 31%;
		margin: 3px;
		display: inline-block;
		position: relative;
	}
	
	.country-sec .county-car .country-text h4 {
		color: #fff;
		font-size: 9px;
	}
	
	.country-sec .county-car .country-text p {
		text-align: center;
		color: #fff;
		font-size: 8px;
	}
	/*
        .search {
    background-color: #ff042c;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 8px;
}
*/
}

/* media query code max-width 425px */

/* media query code max-width 375px */
@media (max-width:375px) {
	.country-sec .county-car .country-text {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 47%;
		transform: translate(-50%, -50%);
	}
	
	.country-sec .county-car {
		width: 30%;
		margin: 3px;
		display: inline-block;
		position: relative;
	}
	
	.country-sec .county-car .country-text h4 {
		color: #fff;
		font-size: 8px;
		margin: 0;
		text-transform: uppercase;
	}
	
	.country-sec .county-car .country-text p {
		text-align: center;
		color: #fff;
		font-size: 7px;
	}
	/*
        .country-sec .county-car .search {
    background-color: #ff042c;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 6px;
}
*/
}

/* media query code max-width 375px */

/* testimonial section */
.testimonial {
/*	padding: 30px 0;*/
    background: #fff;
}
.testimonial h3 {
	text-transform: uppercase;
}
.testimonial-section2 {
	position: relative;
	background-image: url(../images/test-back.jpg);
	background-size: cover;
	padding: 50px 0 20px 0;
}
.testim .wrap {
	position: relative;
	width: 100%;
	max-width: 1020px;
	padding: 40px 20px;
	margin: auto;
}
.testim .arrow {
	display: block;
	position: absolute;
	color: #eee;
	cursor: pointer;
	font-size: 2em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 5px;
	z-index: 22222222;
	display: none;
}
.testim .arrow:before {
	cursor: pointer;
}
.testim .arrow:hover {
	color: #2b288d;
}
.testim .arrow.left {
	left: 10px;
}
.testim .arrow.right {
	right: 10px;
}
.testim .dots {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 60px;
	left: 0;
	display: block;
	z-index: 3333;
	height: 12px;
}
.testim .dots .dot {
	list-style-type: none;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #eee;
	margin: 0 10px;
	cursor: pointer;
	-webkit-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: relative;
}
.testim .dots .dot.active,
.testim .dots .dot:hover {
	background: #fff;
	border-color: #2b288d;
}
.testim .dots .dot.active {
	-webkit-animation: testim-scale .5s ease-in-out forwards;
	-moz-animation: testim-scale .5s ease-in-out forwards;
	-ms-animation: testim-scale .5s ease-in-out forwards;
	-o-animation: testim-scale .5s ease-in-out forwards;
	animation: testim-scale .5s ease-in-out forwards;
}
.testim .cont {
	position: relative;
	overflow: hidden;
}
.testim .cont>div {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 70px 0;
	opacity: 0;
}
.testim .cont>div.inactive {
	opacity: 1;
}
.testim .cont>div.active {
	position: relative;
	opacity: 1;
}
.testim .cont div .img img {
	display: block;
	width: 100px;
	height: 100px;
	/* margin: auto; */
	
	border-radius: 50%;
	float: right;
}
.testim .cont div .h4 {
	color: #ffffff;
	font-size: 1.2em;
	float: left;
}
.testim .cont div p {
	font-size: 1.15em;
	color: #eee;
	/* width: 80%; */
	/* margin: auto; */
	
	text-align: left;
}
.testim .cont div.active .img img {
	-webkit-animation: testim-show .5s ease-in-out forwards;
	-moz-animation: testim-show .5s ease-in-out forwards;
	-ms-animation: testim-show .5s ease-in-out forwards;
	-o-animation: testim-show .5s ease-in-out forwards;
	animation: testim-show .5s ease-in-out forwards;
}
.testim .cont div.active .h4 {
	-webkit-animation: testim-content-in .4s ease-in-out forwards;
	-moz-animation: testim-content-in .4s ease-in-out forwards;
	-ms-animation: testim-content-in .4s ease-in-out forwards;
	-o-animation: testim-content-in .4s ease-in-out forwards;
	animation: testim-content-in .4s ease-in-out forwards;
}
.testim .cont div.active p {
	-webkit-animation: testim-content-in .5s ease-in-out forwards;
	-moz-animation: testim-content-in .5s ease-in-out forwards;
	-ms-animation: testim-content-in .5s ease-in-out forwards;
	-o-animation: testim-content-in .5s ease-in-out forwards;
	animation: testim-content-in .5s ease-in-out forwards;
}
.testim .cont div.inactive .img img {
	-webkit-animation: testim-hide .5s ease-in-out forwards;
	-moz-animation: testim-hide .5s ease-in-out forwards;
	-ms-animation: testim-hide .5s ease-in-out forwards;
	-o-animation: testim-hide .5s ease-in-out forwards;
	animation: testim-hide .5s ease-in-out forwards;
}
.testim .cont div.inactive .h4 {
	-webkit-animation: testim-content-out .4s ease-in-out forwards;
	-moz-animation: testim-content-out .4s ease-in-out forwards;
	-ms-animation: testim-content-out .4s ease-in-out forwards;
	-o-animation: testim-content-out .4s ease-in-out forwards;
	animation: testim-content-out .4s ease-in-out forwards;
}
.testim .cont div.inactive p {
	-webkit-animation: testim-content-out .5s ease-in-out forwards;
	-moz-animation: testim-content-out .5s ease-in-out forwards;
	-ms-animation: testim-content-out .5s ease-in-out forwards;
	-o-animation: testim-content-out .5s ease-in-out forwards;
	animation: testim-content-out .5s ease-in-out forwards;
}
@-webkit-keyframes testim-scale {
	0% {
		-webkit-box-shadow: 0px 0px 0px 0px #eee;
		box-shadow: 0px 0px 0px 0px #eee;
	}
	
	35% {
		-webkit-box-shadow: 0px 0px 10px 5px #eee;
		box-shadow: 0px 0px 10px 5px #eee;
	}
	
	70% {
		-webkit-box-shadow: 0px 0px 10px 5px #ea830e;
		box-shadow: 0px 0px 10px 5px #ea830e;
	}
	
	100% {
		-webkit-box-shadow: 0px 0px 0px 0px #ea830e;
		box-shadow: 0px 0px 0px 0px #ea830e;
	}
}
@-moz-keyframes testim-scale {
	0% {
		-moz-box-shadow: 0px 0px 0px 0px #eee;
		box-shadow: 0px 0px 0px 0px #eee;
	}
	
	35% {
		-moz-box-shadow: 0px 0px 10px 5px #eee;
		box-shadow: 0px 0px 10px 5px #eee;
	}
	
	70% {
		-moz-box-shadow: 0px 0px 10px 5px #ea830e;
		box-shadow: 0px 0px 10px 5px #ea830e;
	}
	
	100% {
		-moz-box-shadow: 0px 0px 0px 0px #ea830e;
		box-shadow: 0px 0px 0px 0px #ea830e;
	}
}
@-ms-keyframes testim-scale {
	0% {
		-ms-box-shadow: 0px 0px 0px 0px #eee;
		box-shadow: 0px 0px 0px 0px #eee;
	}
	
	35% {
		-ms-box-shadow: 0px 0px 10px 5px #eee;
		box-shadow: 0px 0px 10px 5px #eee;
	}
	
	70% {
		-ms-box-shadow: 0px 0px 10px 5px #ea830e;
		box-shadow: 0px 0px 10px 5px #ea830e;
	}
	
	100% {
		-ms-box-shadow: 0px 0px 0px 0px #ea830e;
		box-shadow: 0px 0px 0px 0px #ea830e;
	}
}
@-o-keyframes testim-scale {
	0% {
		-o-box-shadow: 0px 0px 0px 0px #eee;
		box-shadow: 0px 0px 0px 0px #eee;
	}
	
	35% {
		-o-box-shadow: 0px 0px 10px 5px #eee;
		box-shadow: 0px 0px 10px 5px #eee;
	}
	
	70% {
		-o-box-shadow: 0px 0px 10px 5px #ea830e;
		box-shadow: 0px 0px 10px 5px #ea830e;
	}
	
	100% {
		-o-box-shadow: 0px 0px 0px 0px #ea830e;
		box-shadow: 0px 0px 0px 0px #ea830e;
	}
}
@keyframes testim-scale {
	0% {
		box-shadow: 0px 0px 0px 0px #eee;
	}
	
	35% {
		box-shadow: 0px 0px 10px 5px #eee;
	}
	
	70% {
		box-shadow: 0px 0px 10px 5px #ea830e;
	}
	
	100% {
		box-shadow: 0px 0px 0px 0px #ea830e;
	}
}
@-webkit-keyframes testim-content-in {
	from {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-moz-keyframes testim-content-in {
	from {
		opacity: 0;
		-moz-transform: translateY(100%);
		transform: translateY(100%);
	}
	
	to {
		opacity: 1;
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}
@-ms-keyframes testim-content-in {
	from {
		opacity: 0;
		-ms-transform: translateY(100%);
		transform: translateY(100%);
	}
	
	to {
		opacity: 1;
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}
@-o-keyframes testim-content-in {
	from {
		opacity: 0;
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	
	to {
		opacity: 1;
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes testim-content-in {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes testim-content-out {
	from {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	to {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-moz-keyframes testim-content-out {
	from {
		opacity: 1;
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	
	to {
		opacity: 0;
		-moz-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-ms-keyframes testim-content-out {
	from {
		opacity: 1;
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	
	to {
		opacity: 0;
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-o-keyframes testim-content-out {
	from {
		opacity: 1;
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	
	to {
		opacity: 0;
		transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@keyframes testim-content-out {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	
	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}
@-webkit-keyframes testim-show {
	from {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes testim-show {
	from {
		opacity: 0;
		-moz-transform: scale(0);
		transform: scale(0);
	}
	
	to {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1);
	}
}
@-ms-keyframes testim-show {
	from {
		opacity: 0;
		-ms-transform: scale(0);
		transform: scale(0);
	}
	
	to {
		opacity: 1;
		-ms-transform: scale(1);
		transform: scale(1);
	}
}
@-o-keyframes testim-show {
	from {
		opacity: 0;
		-o-transform: scale(0);
		transform: scale(0);
	}
	
	to {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes testim-show {
	from {
		opacity: 0;
		transform: scale(0);
	}
	
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes testim-hide {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	to {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}
@-moz-keyframes testim-hide {
	from {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1);
	}
	
	to {
		opacity: 0;
		-moz-transform: scale(0);
		transform: scale(0);
	}
}
@-ms-keyframes testim-hide {
	from {
		opacity: 1;
		-ms-transform: scale(1);
		transform: scale(1);
	}
	
	to {
		opacity: 0;
		-ms-transform: scale(0);
		transform: scale(0);
	}
}
@-o-keyframes testim-hide {
	from {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1);
	}
	
	to {
		opacity: 0;
		-o-transform: scale(0);
		transform: scale(0);
	}
}
@keyframes testim-hide {
	from {
		opacity: 1;
		transform: scale(1);
	}
	
	to {
		opacity: 0;
		transform: scale(0);
	}
}
@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}
@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}
}

/* testimonial section */
.margin-tb {
	margin: 50px 0 30px 0;
}

/* sign-news */
.sign-news {
	padding: 30px 0;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    background: #e9ecef;
}

/* sign-news */
.sign-news p {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 500;
}

/* help center */
.help-center {
	background: #c20202;
	margin: 0;
	padding: 20px 10px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.help-center .help-center-block img {
	/*
       width: 69px;
    height: 70px;
*/
	
	float: left;
	top: 5px;
	position: absolute;
}
.help-center .help-center-block .help-head {
	padding-left: 50px;
	color: aliceblue;
}
.help-center .help-center-block .help-head .head-sub {
	font-size: 12px;
}
.help-center .help-center-block .help-head .head {
	font-size: 18px;
	font-weight: 600;
}

/* help center */

/* footer section css */
.col_white_amrc {
	color: #FFF;
}

/*.foot-last-contact p { font-size: 18px; margin-bottom: 20px;}*/
.col-red {
	color: #c20202
}
footer {
	width: 100%;
	background-image: url(../images/footer-backg.jpg);
	background-size: cover;
	/*    background-color:#263238;*/
	
	min-height: 250px;
	padding: 10px 0px 25px 0px;
}
.pt2 {
	padding-top: 40px;
	margin-bottom: 20px;
}
footer p {
	font-size: 13px;
	color: #CCC;
	padding-bottom: 0px;
	margin-bottom: 8px;
}
.mb10 {
	padding-bottom: 15px;
}
.footer_ul_amrc {
	margin: 0px;
	list-style-type: none;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
	padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
	color: #CCC;
}
.footer_ul_amrc li a:hover {
	color: #fff;
	text-decoration: none;
}
.fleft {
	float: left;
}
.padding-right {
	padding-right: 10px;
}
.footer_ul2_amrc {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}
.footer_ul2_amrc li p {
	display: table;
}
.footer_ul2_amrc li a:hover {
	text-decoration: none;
}
.footer_ul2_amrc li i {
	margin-top: 5px;
}
.bottom_border {
	/*    border-bottom:1px solid #323f45; */
	
	padding-bottom: 100px;
}
.footer-bottom {
	padding-top: 7px;
}
.footer-bottom a {
	color: #c20202
}
.foote_bottom_ul_amrc {
	list-style-type: none;
	padding: 0px;
	display: table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li {
	display: inline;
}
.foote_bottom_ul_amrc li a {
	color: #999;
	margin: 0 12px;
}
.social_footer_ul {
	display: table;
	list-style-type: none;
}
.social_footer_ul li {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
}
.social_footer_ul li a {
	color: #CCC;
	border: 1px solid #CCC;
	padding: 8px;
	border-radius: 50%;
}
.social_footer_ul li i {
	width: 20px;
	height: 20px;
	text-align: center;
}

/* footer section css */

/* feature css */
.feature-marks {
	/*    background: #f6f6f6;*/
}

/*
.feture-sec{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
}
*/
.tab-content {
	/*    margin: 30px 0; */
}
.back-g {
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
	transition: 0.3s;
}
.back-g {
	text-align: center;
}
.back-g .back-img {
	position: absolute;
	bottom: 60px;
}
.back-g .back-img img {
	/*
    display:block;
    width: 150px;
   float: left;
*/
	/*        margin: 40px 10px 40px 17px;*/
}
.back-g .back-text {
	text-align: left;
	padding: 20px;
}
.back-g .back-text p {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 400;
	color: #716f6b;
}

/*
.width-48{
    width: 48%;
}
*/

/*
.card-feature{
    background: #fff;
       position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
*/

/*
.back-g img{
    padding-top: 20px;
}
*/

/* feature css end */

/* drop down css */
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index:not(.-fixed) .aside_slct_wrap {
	height: 63px;
}
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index:not(.-fixed) .aside_slct.-not-refine {
	padding-bottom: 15px;
	padding-top: 32px;
}
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index:not(.-fixed) .aside_slct.-not-refine::before {
	right: 16px;
	top: 30px;
}
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index .aside_slct.-not-refine .aside_slct_value {
	font-size: 1.5em;
}
.aside_slct_opts {
	background: #fff;
	display: none;
	list-style: none;
	margin-top: 10px;
	max-height: 300px;
	overflow-x: hidden;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 9999;
}
.aside_slct_opts>li.active,
.aside_slct_opts>li.active>a {
	background: #3761bf;
	color: #fff;
}
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index:not(.-fixed) .aside_slct.-not-refine .aside-slct-marker {
	font-size: 1.5em;
	height: 26px;
	line-height: 1.75;
	top: 20px;
}
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index:not(.-fixed) .aside_slct.-not-refine::after {
	top: 24px;
}
@media only screen and (max-width: 1023.98px) and (min-width: 741px),
only screen and (max-width: 1280.98px) and (min-width: 1024px),
only screen and (max-width: 1600.98px) and (min-width: 1281px),
only screen and (min-width: 1601px) .select-vehicle-spacer.-index:not(.-fixed) .aside_slct.-not-refine {
	padding-bottom: 15px;
	padding-top: 32px;
}

/*
.select-vehicle-col{
    background: #fff;
    height: 40px;
}
*/
.aside-slct-marker {
	border-right: 1px solid gray;
	padding-right: 10px;
}

/* drop down css end */

/* detail page design */

/*****************globals*************/
.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px;
	}
}
.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block;
        object-fit: cover;
}
.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}
.tab-content {
	overflow: hidden;
}
.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
        object-fit: cover;
}
.AOPO-sec {
	background: #eee;
	/*      margin-top: 50px;*/
	
	padding: 3em;
}
.card {
	/*
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; 
*/
}
@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.product-title,
.price,
.sizes,
.colors {
	text-transform: UPPERCASE;
	font-weight: bold;
}
.checked,
.price span {
	color: #ff9f1a;
}
.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
	margin-bottom: 15px;
}
.product-title {
	/* margin-top: 24px;*/
	
	font-size: 20px;
}
.size {
	margin-right: 10px;
}
.size:first-of-type {
	margin-left: 40px;
}
.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px;
}
.color:first-of-type {
	margin-left: 20px;
}
.add-to-cart,
.like {
	background: #c20202;
	padding: 8px 40px;
	border: none;
	text-transform: UPPERCASE;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.add-to-cart:hover,
.like:hover {
	background: #ff9f1a;
	color: #fff;
}
.not-available {
	text-align: center;
	line-height: 2em;
}
.not-available:before {
	font-family: fontawesome;
	content: "\f00d";
	color: #fff;
}
.orange {
	background: #ff9f1a;
}
.green {
	background: #85ad00;
}
.blue {
	background: #0076ad;
}
.tooltip-inner {
	padding: 1.3em;
}
@-webkit-keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.product-price {
    color: #c20202;
    font-size: 18px;
    font-weight: 600;
}
.text-col {
	color: #c20202;
}
.prodct-price-sec .product-brand {
	font-weight: 500;
	margin-bottom: 0px;
}
.sp-quantity {
	width: 124px;
	height: 42px;
	font-family: "ProximaNova Bold", Helvetica, Arial;
}
.sp-minus {
	width: 40px;
	height: 40px;
	border: 1px solid #e1e1e1;
	float: left;
	text-align: center;
	background: #fff;
	margin: 0 5px;
	border-radius: 5px;
}
.sp-input {
	width: 40px;
	height: 40px;
	border: 1px solid #e1e1e1;
	border-left: 0px solid black;
	float: left;
	background: transparent;
}
.sp-plus {
	width: 40px;
	height: 40px;
	border: 1px solid #e1e1e1;
	border-left: 0px solid #e1e1e1;
	float: left;
	text-align: center;
	background: #fff;
	/* color: #000; */
	
	border-radius: 5px;
	margin: 0 5px;
}
.sp-plus a {
	color: #000;
}
.sp-input input {
	width: 30px;
	height: 34px;
	text-align: center;
	border: none;
	background: none;
}
.sp-input input:focus {
	border: 1px solid #e1e1e1;
	border: none;
}
.sp-minus a,
.sp-plus a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 5px;
}
.action-qty {
	float: left;
	padding: 5px;
}

/* description section */
.detail-descr {
	background: #fff;
}
.detail-descr .tab-content .active {
	padding: 50px 0;
}
.detail-descr .nav-item .active {
	background: #fff;
	border-top: 2px solid #c20202;
	color: #5a5858;
	font-weight: 600;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.detail-descr .nav-item {
	background: #efefef;
	text-align: center;
	min-width: 130px;
}
.detail-descr .nav-item a {
	color: #5a5858;
}

/* description section */

/* related product */
.rel-prod {
	background: #f5f5f5;
}
.rel-title {
	text-align: center;
	padding-bottom: 30px;
	font-size: 24px;
}
.rel-box {
	background: #fff;
	padding: 20px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.rel-box img {
	width: 100%;
        object-fit: cover;
}
.rel-rating {
	font-size: 12px;
}
.rel-rating .col-raing {
	color: #fece00;
}
.rel-rating .rel-review {}
.rel-amount {
	font-size: 24px;
	color: #c20202;
	font-weight: 600;
}
.for-text {
	font-size: 14px;
	font-weight: 600;
}

/* related product */

/*# sourceMappingURL=style.css.map */

/* destial page deisgn */

/* Login Page Css */
.btn-lg-red {
	background: #c20202;
	color: #fff;
	font-weight: 600;
	font-size: 23px;
	line-height: 23px;
/*	height: 55px;*/
        text-transform: uppercase;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.btn-lg-red:hover {
	box-shadow: none;
	color: #fff;
	background: #ff9f1a;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.modal-content {
	padding: 0px;
}
.title-model-login {
    line-height: 32px;
    font-size: 30px;
    padding-left: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
@media screen and (max-width: 997px){
    .title-model-login {
	line-height: 24px;
	    font-size: 22px;
    padding-left: 14px;
}
    .btn-lg-red {
        background: #c20202;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
    .for-text {
    font-size: 12px;
    font-weight: 600;
}
    .navbar-light .navbar-nav .nav-link {
    padding: 6px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
}
.btn:focus,
.btn.focus {
	box-shadow: none;
}
.modal-body .close {
	color: #c20202;
	opacity: 1 !imporatnt;
}



/* login page css */

/* breadcum css */
.bread-sec{
    background: #e9ecef;
/*
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
*/
}
.bread-sec .breadcrumb a{
color: #2d2c2c;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}
.bread-sec .breadcrumb .active{
    color: #c20202;
      font-weight: 600;
}

/*header cart css*/

#cart .dropdown-menu {
    min-width: 100%;
}

#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
        width: max-content;
}

#cart .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu li>div {
    min-width: 427px;
    padding: 0 10px;
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}

#cart .btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 12px;
}
/*header cart css end*/

/* breadcum css */





/* proaduct Page css */

.product-img-sec h2{
    font-weight: 700;
}
.product-img-sec h2 span{
    color: #c20202;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.item.list-group-item {
    background: #eeeeee;
    display: contents;
}


.grid-group-item img{  width: 100%;
}
.list-group-item img{
    max-width: 400px
}
    .glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #fff;
    padding: 10px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}
/*
.list-group .item img{
    width: 100%;
        padding: 20px;
}
*/
/*
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
*/
.item.list-group-item .thumbnail
{
    margin-bottom: 20px;
        width: 100%;
}
/*
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}
*/

.caption a{
	font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
	color:#3c3a3a;
	 text-decoration: none;
}
.word-limit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}


.text-limit{
display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-align: left;
} 
.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}



/*
.grid-group-item img{
    width: 100%;
}
*/


.left-category{
     width: 100%;
    background: #ffffff;
     box-shadow: 0 0 5px 2px #f5f4f4;
	-webkit-box-shadow: 0 0 5px 2px #f5f4f4;
    -moz-box-shadow: 0 0 5px 2px #f5f4f4;
/*    padding: 20px;*/
    padding-bottom: 10px;
}

.left-category h4{
    padding-bottom: 12px;
    color: #212020;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.left-category p{
    font-size: 14px;
    color: #8c8c8c;
    margin: 5px;
    padding: 0;
}
.left-category p:after{
    content: " ";
    border-bottom-style: solid;
    color: #46424257;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 8px;
    width: 210px;
}
.left-category .form-check-label{
      color: #8c8c8c;
}

.left-category .col-r{
    color: #c20202;
}


button, .st-select {
    text-transform: none;
    background: white;
    padding: 2px 11px;
  
    border: none;
    /* border-radius: 12px; */
    text-align: center;
    margin: 0 5px;
}
button, .st-select:focus {
    box-shadow: none;
}


.list-group-item-heading{
        font-size: 17px;
line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-product-to-add{
    width: 100%;
    background: #c20202;
        color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-product-to-add:hover{
    background: #222;
        color: #fff;
}



/*
#products .item{
        height: 380px;
    overflow: hidden;
    margin-bottom: 30px;
     position: relative;

}
#products .item:hover{
        height: 430px;
    overflow: hidden;
    transition: 2s;
}
*/

#list .active{
  color: red;
}
#list .deactive{
  color: #000;
}
#grid.active{
  color: red;
}
#grid.active{
  color: #000;
}


.red{
    color: c20202;
}

.selected{
   color: red;
}


  .view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}
    
    .item.list-group-item .img-event {
   /* padding: 20px; */
    }
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
    .list-group-image{
        padding: 20px;
    }
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}


/* signup model css */
#signupModal{
        height: 100vh;
    overflow: scroll;
    z-index: 1050;
}

#signupModal .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #f90303;
    background-color: #ff0101;
}
     .box{
                    display: none;
                }
            .individual{display: block;}
            .dealer{ background:#fff ; }
/* sign up model css */



/* on hover menu open card */

/* on hover menu open card */


.navbar-light .navbar-brand {
	color: #2196F3;
}
 .navbar-light .navbar-nav .nav-link {
	color: #fff;
    padding: 10px 25px; 
} 

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #1ebdc2;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	background: transparent;
	transition: 0.3s;
	color: #c20202;
}
.dropdown-item:focus, .dropdown-item:hover {
   color: #0a0a0a;
   text-decoration: none;
   background-color: #fff !important;
}
.sm-menu{
   border-radius: 0px;
   border: 0px;
   top: 97%;
   box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
   color: #3c3c3c;
	   font-size: 14px;
}
.dropdown-item.active, .dropdown-item:active {
   color: #c20202;
   text-decoration: none;
   background-color: #2196F3;
}
.navbar-toggler{
   outline: none !important;
}
.navbar-tog{
   color: #1ebdc2;
}
.megamenu-li {
   position: static;
}

.megamenu {
    width: 90%;
    left: 5%;
    text-align: center;
    right: 0;
    padding: 15px;
}

.megamenu h2{
    margin: 21px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25px;
}
.megamenu h2 a{
    color: #c20202;
}
.megamenu h2 a:hover{
text-decoration: none;
}

.megamenu p{
	font-weight: 500;
}
.megamenu i{
   width: 20px;
}

.pull-left{
        right: 0;
    left: auto;
}

@media only screen and (max-width: 1600px) and (min-width: 1370px)  {
     .navbar-light .navbar-nav .nav-link {
	color: #fff;
    padding: 10px 15px !important; 
} 
}
@media only screen and (max-width: 1370px) and (min-width: 1240px)  {
     .navbar-light .navbar-nav .nav-link {
	color: #fff;
    padding: 10px 10px !important; 
} 
}
@media only screen and (max-width: 1240px) and (min-width: 1100px)  {
     .navbar-light .navbar-nav .nav-link {
	color: #fff;
    padding: 10px 3px !important; 
} 
}
@media only screen and (max-width: 1100px) and (min-width: 980px)  {
     .navbar-light .navbar-nav .nav-link {
	color: #fff;
    padding: 10px 0px !important; 
} 
}


/* header css */
/* search button css*/
.openBtn {
	background: #f1f1f1;
	border: none;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
  }
  
  .openBtn:hover {
	background: #bbb;
  }
  
  .overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 50px;
	right: 45px;
	font-size: 30px;
	cursor: pointer;
	color: white;
  }
  
  .overlay .closebtn:hover {
	color: #ccc;
  }
  
  .overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 78%;
	background: white;
	border-radius: 3px 0 0 3px;
	margin-left: 8%;
  }
  
  .overlay input[type=text]:hover {
	background: #f1f1f1;
  }
  
  .overlay button {
	float: left;
    width: 6%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    margin-left: 0px;
  }
  
  .overlay button:hover {
	background: #bbb;
  }
/* search btn css */

/* mobile responsive css menu bar */
@media screen and (max-width: 992px) {
.navbar-collapse{
     background: #000000c9 !important;
        } }
	.navbar-toggler {
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: #fffffff2;
		border: 1px solid transparent;
		border-radius: 0.25rem;
	}
/* mobile responsive css menu bar */


/* brand carousal */
.swiper-viewport{
margin: -3px; 
padding:0px;
box-shadow:none !important;

}

.swipe-shadow{
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 2px #6d6d6d26;
        background: #fff;
}
.swiper-pagination{
	display:none;
}
/* brand carosal */


/* on hover text show common */
.overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000009e;
}

.county-car:hover .overlay-text {
  opacity: 1;
}
.more-depart-main:hover .overlay-text {
  opacity: 1;
}
.slide:hover .overlay-text {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* on hover text show commom */

/* product page */
.not-found{
	    font-weight: 500;
    background: #c20202;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}
/* product page */

/* header dropdown css */
/*
.navbar-expand-lg .navbar-nav .dropdown-menu{
    position: absolute;
    right: 0;
    left: auto;
} */
/* header css */


/* product category */

.tab-active-back{
        color: #fff;
    background-color: #c20202 !important;
    border-color: #c20202 !important;
}

/* product category */
a{
    color: #8e8e8e;
    font-weight: 400;
}
#button-filter{
    background-color: #c20202;
    color: #fff;
    margin-left: 15px;
}
#button-search{
     color: #fff;
    background-color: #c20202 !important;
        font-weight: 500;
    
}
#button-search:hover{
     color: #fff;
    background-color: #222 !important;
    
}

/* pagination css */
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #c20202;
    border-color: #c20202;
}
.page-link{
        color: #101010ba;
    font-weight: 600;
}
.cate-title{
    color: #8e8e8e;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px;
}
/* pagination css end */

/* reset password */
    .res-form{
        background: #ffffff;
        padding: 60px;
        box-shadow: 0 0 10px #80808047;
    }
/* reset password */

/* profile detail */
.profile-detail{
    background: #fff;
    padding: 20px
}
/* profile detail */
#column-right .list-group{
	display:block !important;
}

/* Cart Page css */
.cart-main-title{
      text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
}
.cart-sub-title{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    color: #252626;
}
.cart-text{
    font-size: 14px;
}
.cart-img img{
    width: 100px !important;
    height: auto;
    object-fit: cover;
}
.cart-table{
    background: #fff;
/*     box-shadow: 0 0 5px #80808054;*/
}
.cart-table thead tr{
    border-top: 0px !important;
    background: transparent;
}
.table-title{
     font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #333;
}
.acoordin-box h4 a{
    color: #333;
    text-transform: uppercase;
}
.acoordin-box h4 a:hover{
    color: #000;
    text-decoration: none;
}
.cart-total{
    background: #fff;
/*    box-shadow: 0 0 5px #80808054;*/
    padding: 10px ;
}
.cart-total h3{
    
}
.cart-total p{
    font-size: 14px;
}
.cart-page .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
    /* border-top: 1px solid #dee2e6; */
}
.cart-page  .table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
}
.cart-t-small{font-weight: 500;
    color: #858585;
    font-size: 12px;}

.coupon-title{
    background: #e1e1e1;
    padding: 8px;

}
.coupon-title a{
    font-size: 16px;
    font-weight: 600;
}
.coupon-body{
        background: #fff;
    padding: 20px 10px;
    margin-bottom: 20px;
}
.coupon-head{
/*    background: #e1e1e1 !important;*/
    text-align: right;
    padding: 0 8px 8px;
}
.coupon-head a{
        color: #333;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 600;
}
.coupon-btn{
    background: #c20202;
    padding: 8px 9px;
    border: none;
    text-transform: UPPERCASE;
    font-size: 10px;
    height: 38px;
    /* line-height: 40px; */
    border-radius: 0;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.col-blue{
    color: #0056b3 !important;
    margin: 10px;
    font-weight: 500;
}
.font-12{
        font-size: 12px;
}
/*
.cont-btn{
        padding: 8px 40px;
    border: none;
    text-transform: UPPERCASE;
    width: 100%;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
*/

.check-out-btn{
    background: #c20202;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border: none;
    text-transform: UPPERCASE;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* cart page  css */

/* cart process page css */

/*
.main-check-title{
     background: #fff;
    padding: 15px;
      font-size: 20px;
}
*/
.checkout-process .card{
    margin-bottom: 5px !important;
}
.card-header{
     background: #fff;
    padding: 15px;
      font-size: 20px;
/*    margin-bottom: 20px;*/
}
.card-header a{
    color: #333;
}
    .main-check-title a{
     color:#000;
    }
.font-s-12{
    font-size: 12px;
}
.title-r{  color: #c20202; 
}
.title-red{font-size: 20px;
    color: #c20202; }
/* cart process css */

/* loader css */

.mask{
display:none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.75);
z-index: 1100;
}
.loader {
position: fixed;
left: 50%;
top: 40%;
border: 3px solid #fff; /* White */
border-top: 3px solid #c20202; /* Red */
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 2s linear infinite;
z-index: 1101;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* loader css */

/* cotact page css */

.cont-left{
    background-color: #c20202;
    min-height: 590px;
    width: 100%;
    padding: 57px 70px;
    color: #fff;
    border-radius: 50px 0 0 50px;
}

.cont-right{
    min-height: 590px;
    width: 100%;
    padding: 50px 70px;
    border-radius: 0 50px 50px 0;
    background-color: #ffffff;
}
.cont-text{
     margin-left: 43px;
    font-size: 15px;}
.cont-img img{
    max-width: 200px;
    height: auto;
}
/* contact page css */
.navbar-expand-lg .navbar-nav .dropdown-menu img{
    width: 100px;
    height: 100px;
   object-fit: cover;
}


button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.back-white{
    background: #fff;
        padding: 20px;
}
.panel-white{
    color: #fff;
    font-size: 18px;
}
.panel-white:hover{
    color: #000;
}
.font-24 span{
     position: absolute;
    left: 59px;
}
.font-24 .fa{
      font-size: 20px;
    line-height: 26px;
}
.btn-contact{
    background: #e4e1e1;
    color: #c20202;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    padding: 10px;
    /* height: 55px; */
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}
.btn-contact:hover{
 background: #201e1e;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    border: 2ps solid;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}
.con-height{
    min-height: 590px;
    background: #fff;
        border-radius: 50px;
}
/* final css for responsive */
@media (max-width:900px) {
 .banner-text h2 span {
    font-size: 30px !important;
    color: #fff;
    letter-spacing: 5px;
    margin-right: 10px;
}
    h2{
        font-size: 25px !important;
    }
    .service-text p span {
    color: #fff;
    font-size: 15px !important;
}
}

/* final css forn resposive */